
	.custom-accordion () {
	color: @text-color;
	#gradient > .directional (@portfolioTabsBackgroundColor , @white , 90deg);
	padding: 0;
}

.custom-accordion-alternative () {
	.custom-accordion ();
	#gradient > .directional (@grayDarkest , @gray , 90deg);
}

.custom-accordion-vertical () {
	.custom-accordion ();
	#gradient > .directional (@portfolioBorderColor , @portfolioTabsBackgroundColor , 180deg);
}

.custom-accordion-section () {
	width: @portfolioSectionWidth;
	height: @portfolioSectionHeight;
	webkit-transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-moz-transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	-o-transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: block;
	float: left;
	margin: 0 0 0 @portfolioTabsSpacing;
	cursor: pointer;
	background: @portfolioTabBackgroundColor;
	&:nth-child(1) h3 a:after {
		content: "\f121";
	}

	&:nth-child(2) h3 a:after {
		content: "\f06c";
	}

	&:nth-child(3) h3 a:after {
		content: "\f126";
	}

	&:nth-child(4) h3 a:after {
		content: '4';
	}

	&:nth-child(5) h3 a:after {
		content: '5';
	}

	.content , p {
		line-height: @typoGrid;
		width: 0%;
		visibility: hidden;
		.opacity (0.0);
		transition: all @opacitySpeed linear;
	}

	.content {
		overflow:hidden;
		overflow-x: hidden;

	}
}

.custom-accordion-section-active () {
	.custom-accordion-section ();
	cursor: default;
	background: @portfolioTabBackgroundColorActive;
	.content {
		position: relative;
		top: -@portfolioSectionWidth;
		height: @portfolioSectionHeight;
		overflow: auto;
		overflow-x: hidden;
		padding: @portfolioContentPadding @portfolioContentPadding / 2 0 (@portfolioContentPadding / 2 + @portfolioSectionWidth);
		
		a:focus img,
		a:hover img		{
			.transformElement (rotate , 0deg;
			scale , @scaleFactorLarge);
			transition: all @scaleSpeed ease-in-out;
		}
	}

	.content , p {
		visibility: visible;
		.opacity (1.0);
		width: 100%;
		transition: opacity @opacitySpeed linear;
		transition: width @opacitySpeed linear;
	}
}

.custom-accordion-header () {
	#gradient > .directional (@white , @portfolioTabBackgroundColor , 90deg);
	.custom-link-without-borders ();
	display: block;
	position: relative;
	z-index: @zindex-content+2;
	.custom-text-h3 ();
	padding-top: 0px;
	padding-bottom: 0px;
	color: @headings-color;
	line-height: ceil(2 * @typoGrid - 1);
	&:after {
	}

	&.collapsed {
		&:after {
			content: "\f078";
		}

		&:hover {
			&:after {
				content: "\f078";
			}
		}
	}
}

.custom-accordion-header-vertical () {
	float: right;
	width: (@portfolioSectionHeight);
	height: @portfolioSectionWidth;
	position: relative;
	right: 0;
	top: -@portfolioSectionWidth;
	line-height: @portfolioSectionWidth;
	.transform-origin (100% 100%);
	.custom-no-transition ();
	margin: 0;
	padding: 0 @portfolioSectionPadding 0 @portfolioSectionPadding;
	.transformElement (rotate , -90deg;
	scale , @scaleFactorOrigin);
	text-align: right;
	&:after {
		content: '';
	}

	a {
		white-space: nowrap;
		.custom-link-without-borders ();
		color: @portfolioTabsTextColor;
		padding: 0;
		.custom-text-h3 ();
		&:after {
			.custom-header-icon ();
			.custom-header-icon-vertical ();
			position: absolute;
			right: (ceil(@portfolioSectionWidth / 12));
			top: (ceil(@portfolioSectionWidth / 2) - ceil(@portfolioSectionWidth * @scaleFactorSmall / 2));
			z-index: @zindex-content + 250;
			content: '';
			.transformElement (rotate , -360deg;
			scale , @scaleFactorOrigin);
			.custom-setSpeed (@rotationSpeedFast);
		}

		&:hover {
			.custom-link-without-borders ();
			color: @portfolioTabsTextColorHover;
			&:after {
				background: @portfolioTabsCounterBackgroundColorHover;
				color: @portfolioTabsCounterColorHover;
				z-index: @zindex-content + 250;
				.transformElement (rotate , -270deg;
				scale , @scaleFactorOrigin);
				.custom-setSpeed (@rotationSpeedFast);
				.opacity (1);
			}
		}
	}
}

.custom-accordion-header-active () {
	float: left;
	width: (@portfolioSectionHeight);
	height: @portfolioSectionWidth;
	position: relative;
	left: 0;
	top: @portfolioSectionHeight;
	line-height: @portfolioSectionWidth;
	.transform-origin (0% 0%);
	background: none;
	a {
		color: @portfolioTabsTextColorHover;
		&:after {
			background: @portfolioTabsCounterBackgroundColorActive;
			color: @portfolioTabsCounterColorActive;
			.opacity (1.0);
			cursor: default;
			.transformElement (rotate , 90deg;
			scale , @scaleFactorOrigin);
			.custom-setSpeed (@rotationSpeedFast);
		}

		&:hover {
			cursor: default;
			&:after {
				background: @portfolioTabsCounterBackgroundColorActive;
				color: @portfolioTabsCounterColorActive;
				.opacity (1.0);
				.transformElement (rotate , 90deg;
				scale , @scaleFactorOrigin);
				.custom-setSpeed (@rotationSpeedFast);
			}
		}
	}
}

.custom-accordion-content () {
}

.custom-accordion-item () {
	line-height: @typoGrid;
	padding: 0 0px 0 @typoGrid * 0.75;
	&:before {
		font-family: FontAwesome;
		content: "\f07d";
		font-style: oblique;
		font-weight: 400;
		margin: 3px 0 0 -@typoGrid * 0.75;
	}
}

