.custom-canvas () {
	background: @backgroundColorCanvas;
	.box-shadow (0 0 2 * @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.125));
}

.custom-canvas-for-testing () {
	background: url('../img/canvas.png') 0 100% repeat;
}


.custom-header-background () {
	background: #000 url('../img/header-gecko.png') 50% 50% scroll no-repeat;
}

.custom-header-cover () {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.custom-radial-gradient (@centerX: center , @centerY: center , @shape: circle , @size: contain , @startColor: #555 , @startPos: 0 , @endColor: #333 , @endPos: 100%) {
	background-color: @endColor;
	background-image: -moz-radial-gradient(@centerX @centerY, @shape @size, @startColor @startPos, @endColor @endPos);
	background-image: -webkit-gradient(radial, @centerX @centerY, @shape @size, @startColor @startPos, @endColor @endPos);
	background-image: -webkit-radial-gradient(@centerX @centerY, @shape @size, @startColor @startPos, @endColor @endPos);
	background-image: -o-radial-gradient(@centerX @centerY, @shape @size, @startColor @startPos, @endColor @endPos);
	background-image: -ms-radial-gradient(@centerX @centerY, @shape @size, @startColor @startPos, @endColor @endPos);
	background-image: radial-gradient(@shape at @centerX @centerY, @startColor @startPos, @endColor @endPos);
}

.custom-radial-gradient-accordion (@background) {
	.custom-radial-gradient (90% , 25% , circle , cover , lighten(spin(@background, -3), -5%) , 5% , @background , 25%);
}

.custom-background-caption () {
	background: url('../img/slider-caption-bg.png') 0 0 repeat;
}

.custom-background-carousel () {
	#gradient > .horizontal-three-colors (@black , @grayDarkest , 50% , @black);
}

.custom-background-carousel-full () {
	#gradient > .horizontal-three-colors (@grayLightest , @white , 50% , @grayLightest);
}

.custom-background-modalBackground () {
	background: url('../img/modal-bg.png') 0 0 repeat;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	min-height: 100%;
	padding: 2 * @typoGrid * @goldenRatio 0;
	text-align: center;
	.custom-modal-shadow ();
}

.custom-background-light () {
	#gradient > .directional (@white , @grayLightest , 120deg);
}

.custom-well-background () {
	#gradient > .directional (@grayLightest , @white , 120deg);
}

.custom-background-modalOverlay () {
	background: @white;
	border-radius: @border-radius-modal;
}

.custom-background-dark () {
	#gradient > .directional (@grayDarkest , @grayDark , 120deg);
}

.custom-background-carousel-left () {
	background: none;
}

.custom-background-carousel-right () {
	background: none;
}

.custom-test-typo (@position:'100%', @repeat:'repeat') {
	background: url('../img/tests/typo-26.png') 0 @position @repeat;
}

.custom-test-typo-h1 (@position:'100%', @repeat:'repeat') {
	background: url('../img/tests/typo-26-h1.png') 0 @position @repeat;
}

.custom-test-typo-h2 (@position:'100%', @repeat:'repeat') {
	background: url('../img/tests/typo-26-h2.png') 0 @position @repeat;
}

.custom-test-typo-h3 (@position:'100%', @repeat:'repeat') {
	background: url('../img/tests/typo-26-h3.png') 0 @position @repeat;
}
.custom-test-typo-h4 (@position:'100%', @repeat:'repeat') {
	background: url('../img/tests/typo-26-h4.png') 0 @position @repeat;
}

.custom-test-typo-h5 (@position:'100%', @repeat:'repeat') {
	background: url('../img/tests/typo-26-h5.png') 0 @position @repeat;
}

.custom-test-typo-h2-subheading (@position:'100%', @repeat:'repeat') {
	background: url('../img/tests/typo-26-h2subheading.png') 0 @position @repeat;
}
