

.rotateElement (@deg: 45deg) {
	transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	-webkit-transform: rotate(@deg);
	-webkit-transition: all @rotationSpeed ease-in-out;
	-moz-transition: all @rotationSpeed ease-in-out;
	-o-transition: all @rotationSpeed ease-in-out;
	transition: all @rotationSpeed ease-in-out;
}

.rotateElementFast (@deg: 45deg) {
	.rotateElement (@deg);
	-webkit-transition: all @rotationSpeedFast ease-in-out;
	-moz-transition: all @rotationSpeedFast ease-in-out;
	-o-transition: all @rotationSpeedFast ease-in-out;
	transition: all @rotationSpeedFast ease-in-out;
}

.scaleElement (@scaleX: 1.0 , @scaleY: 1.0 , @scaleZ: 1.0) {
	transform: scale3D(@scaleX, @scaleY, @scaleZ);
	-ms-transform: scale3D(@scaleX, @scaleY, @scaleZ);
	-webkit-transform: scale3D(@scaleX, @scaleY, @scaleZ);
	-webkit-transition: all @scaleSpeed ease-in-out;
	-moz-transition: all @scaleSpeed ease-in-out;
	-o-transition: all @scaleSpeed ease-in-out;
	transition: all @scaleSpeed ease-in-out;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.scaleElementFast (@scaleX: 1.0 , @scaleY: 1.0 , @scaleZ: 1.0) {
	transform: scale3D(@scaleX, @scaleY, @scaleZ);
	-ms-transform: scale3D(@scaleX, @scaleY, @scaleZ);
	-webkit-transform: scale3D(@scaleX, @scaleY, @scaleZ);
	-webkit-transition: all @scaleSpeedFast ease-in-out;
	-moz-transition: all @scaleSpeedFast ease-in-out;
	-o-transition: all @scaleSpeedFast ease-in-out;
	transition: all @scaleSpeedFast ease-in-out;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.custom-setSpeed (@mySpeed: 0.0s) {
	-webkit-transition: all @mySpeed ease-in-out;
	-moz-transition: all @mySpeed ease-in-out;
	-o-transition: all @mySpeed ease-in-out;
	transition: all @mySpeed ease-in-out;
}

// @formatter:off
.transformElement(@args...){
		.loop-args(@argCount) when (@argCount > 0) {
		.loop-args(@argCount - 1);
		@arg: extract(@args, @argCount);
		@property: extract(@arg,1);
		@param: extract(@arg,2);
		-webkit-transform+_: ~"@{property}(@{param})";
		-moz-transform+_: ~"@{property}(@{param})";
		-o-transform+_: ~"@{property}(@{param})";
		transform+_: ~"@{property}(@{param})";
		}
		.loop-args(length(@args));
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
	}
// @formatter:on

.custom-no-transition () {
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: color 0 ease-in;
	transition: none;
}

.custom-image-reflection (@colorStop: 10% , @opacity: 0.25) {
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(@colorStop, transparent), to(rgba(red(@white), green(@white), blue(@white), @opacity)));
}

.custom-transition (@speed: 2.5s) {
	.transition (@speed cubic-bezier(.5, -0.33, .33, .75) left);
}

