	.custom-img-intro () {
	width: ceil(@screen-sm / 6 * @goldenRatio);
	height: auto;
	float: left;
	margin:  ceil(@typoGrid - 18) ceil(1.5*@typoGrid) ceil(18) + @typoGrid 0;
	.custom-image-reflection (50% , 0.25);
	.transition (all @slideSpeed ease-in-out);
	.custom-image-shadow ();
	&:hover {
		width: 100%;
		height: 100%;
		.transition (all @slideSpeed ease-in-out);
	}
}

.custom-img-preview () {
	.custom-thumbnail-circle ();
	.custom-img-thumbnail ();
	.custom-image-shadow ();
	border: @borderPreviewColor @borderthumbSize solid ! important;
	.custom-image-shadow ();
	background: @image-preview-border-color;
	padding: @image-preview-padding;
	border-radius: 50%;
	.custom-setSpeed (@rotationSpeed);
}

.custom-img-thumbnail () {
	padding: @thumbnail-padding;
	line-height: @line-height-base;
	background-color: @thumbnail-bg;
	border: 1px solid @thumbnail-border;
	border-radius: @thumbnail-border-radius * 2;
	.transition (all .2s ease-in-out);
	.box-shadow (0 1px 2px rgba(0, 0, 0, .75));
}

.img-bordered (@display: block) {
	display: @display;
	width: 100% \9;
	max-width: 100%;
	height: auto;
	position: relative;
	left: 0px;
	.custom-image-shadow ();
}

.img-bordered-repositioned (@display: block) {
	display: @display;
	width: 100% \9;
	max-width: 100%;
	height: auto;
	position: relative;
}

