.custom-header-shadow () {
	.box-shadow (0 0 @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.5));
	border-bottom: 1px solid @grayLight;
}

.custom-modal-shadow () {
	border-right: none;
	.box-shadow (0 @shadowSizeLarge 2 * @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.95));
}

.custom-shadow () {
	.box-shadow (0 0 @shadowSize rgba(red(@shadowColor), green(@shadowColor), blue(@shadowColor), 0.5));
}

.custom-shadow-strong () {
	.box-shadow (0 0 @typoGrid rgba(red(@black), green(@black), blue(@black), 0.95));
}

.custom-navbar () {
	.box-shadow (@shadowSizeLarge 0px @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.75));
}

.custom-button-shadow () {
	.box-shadow (0 0 @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.5));
}

.custom-input-focus-shadow {
	.box-shadow (0 0 @shadowSizeLarge * 2 rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), 0.75));
}

.custom-well-shadow () {
	.box-shadow (0 0 @shadowSizeLarge * 3 rgba(red(@black), green(@black), blue(@black), 0.25));
}

.custom-badge-shadow () {
	.box-shadow (0 0 @shadowSize / 2 rgba(red(@black), green(@black), blue(@black), 0.5));
}

.custom-symbol-shadow () {
	.box-shadow (0 0 @shadowSize rgba(red(@black), green(@black), blue(@black), 0.5));
}

.custom-indicator-shadow () {
	.custom-badge-shadow ();
}

.custom-image-shadow () {
	.box-shadow (0 0 @shadowSizeLarge * 2 rgba(red(@black), green(@black), blue(@black), 0.5));
}

.custom-image-shadow-additive (@borderAdd: '100') {
	.box-shadow (0 0 ceil(@borderAdd) rgba(red(@black), green(@black), blue(@black), 0.25));
}

.custom-table-shadow () {
	.box-shadow (0 @shadowSize @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.25));
}

.custom-text-shadow () {
	text-shadow: @black 0 0 @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.25);
}

.custom-button-text-shadow (@shadowSize: 4px) {
	text-shadow: @white 0 0 @shadowSize rgba(red(@white), green(@white), blue(@white), 0.9);
}

.custom-text-shadow-strong () {
	text-shadow: @black 2px 2px 4px rgba(red(@black), green(@black), blue(@black), 0.75);
}

.custom-text-shadow-light () {
	text-shadow: @black 0 0 @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.5);
}

.custom-controls () {
	text-shadow: 0 0 ceil(@shadowSize / 2) rgba(red(@black), green(@black), blue(@black), 1.0);
}

.custom-text-shadow-light-large () {
	text-shadow: @black 0 0 (2 * @shadowSizeLarge * @goldenRatio) rgba(red(@black), green(@black), blue(@black), 0.25);
}

.custom-text-shadow-overlay () {
	text-shadow: 0 0 3px rgba(red(@white), green(@white), blue(@white), 1.0);
}

.custom-text-shadow-primary () {
	text-shadow: @brand-primary 1px 1px 2px rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), 0.95);
}

.custom-list-shadow () {
	text-shadow: @black 0 0 ceil(@shadowSize / 2) rgba(red(@black), green(@black), blue(@black), 0.5);
}

.custom-accordion-shadow () {
	.box-shadow (0 @shadowSizeLarge / 2 2 * @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.25));
}

.custom-accordion-section-shadow () {
	.box-shadow (0 0 @shadowSizeLarge * 2 rgba(red(@black), green(@black), blue(@black), 0.75));
}

.custom-tab-shadow () {
	.box-shadow (0 -@shadowSize @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.25));
}

.custom-image-shadow-inverted () {
	.box-shadow (0 0 @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.5));
	border-left: @brand-primary 1.618 * @bigBorder solid;
}

.custom-input-shadow () {
	.box-shadow (0 0 @shadowSizeLarge rgba(red(@black), green(@black), blue(@black), 0.125));
}

.custom-text-shadow-inverted () {
	&:hover , &:focus , &:active , &.active , .open > .dropdown-toggle & {
		color: @color;
		background-color: @background;
		border-color: darken(@border, 25%);
	}

	&:active , &.active , .open > .dropdown-toggle & {
		background-image: none;
	}

	&.disabled , & [disabled] , fieldset[disabled] {
		&:hover , &:focus , &:active , &.active {
			background-color: @background;
			border-color: @border;
		}
	}
}

.custom-huge-shadow (@color: '@black';
@size: '18px') {
	.box-shadow (0 0 @size rgba(red(@color), green(@color), blue(@color), 1.0));
}

