

	.script-font () {
	font-family: "Lobster", "Helvetica Neue", Helvetica, Arial, cursive;
}

.body-font () {
	font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading-font () {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.custom-text-header-general () {
	margin: 0px;
	padding-top: @typoGrid;
	padding-bottom: @typoGrid;
	line-height: 2 * @typoGrid;
	.heading-font ();
	font-weight: 700;
	.custom-text-shadow ();
}

.custom-text-header () {
	.custom-text-header-general ();
	.custom-text-shadow-strong ();
	text-align: center;
	color: @white;
	.script-font ();
	font-weight: 400;
	text-transform: none;
}

.custom-text-h2 () {
	.custom-text-header-general ();
	.heading-font ();
	padding-top: @typoGrid - 10px;
	padding-bottom: @typoGrid - 16px;
	line-height: @typoGrid;
	font-size: @font-size-large;
	&.subheading {
		.custom-text-subheadline ();
	}
}

.custom-text-h3 () {
	.custom-text-header-general ();
	.heading-font ();
	padding-top: @typoGrid - 10px;
	padding-bottom: @typoGrid - 16px;
	font-size: @font-size-large - 5;
}

.custom-text-header-intro () {
	font-weight: 700;
	color: @white;
	font-size: @font-size-large * @goldenRatio;
	padding: 0 0 @typoGrid / 2;
	margin-bottom: @typoGrid / 3;
	line-height: 0.9;
	.custom-text-shadow-strong ();
}

.custom-text-header-paragraph () {
	.body-font ();
	font-size: @font-size-large;
	line-height: @typoGrid;
	color: @white;
	.custom-text-shadow-strong ();
}

.custom-link () {
	color: @text-color;
	text-decoration: none ! important;
	border-bottom: 1px dotted currentColor;
	padding-bottom: 0px;
	&:hover , &:focus , &:active , &.active , &:hover span , &:focus span , &:active span , &.active span {
		color: @link-hover-color;
		border-bottom: 1px solid currentColor;
		text-decoration: none ! important;
		outline: none;
	}
}

.custom-link-without-borders () {
	outline: none;
	border-bottom: none ! important;
	text-decoration: none ! important;
	&:hover , &:focus , &:active , &.active , &:hover span , &:focus span , &:active span , &.active span {
		outline: none;
		border-bottom: none ! important;
		text-decoration: none ! important;
	}
}

.custom-link-with-borders () {
	outline: none;
	text-decoration: none ! important;
	&:hover , &:focus , &:active , &.active , &:hover span , &:focus span , &:active span , &.active span {
		outline: none;
		text-decoration: none ! important;
	}
}

.custom-text-subheadline () {
	line-height: @typoGrid;
	.script-font ();
	text-transform: none ! important;
	font-size: @font-size-large;
	font-weight: 400;
	text-align: center;
	color: lighten(@text-color, 20%);
	position: relative;
	top: -(ceil(@typoGrid * 1.5));
}

.custom-list-styled () {
	margin-right: 4px;
	content: "\27A8";
	color: @brand-primary;
	.custom-list-shadow ();
}

.custom-list-unstyled () {
	content: none;
}

.custom-list-marked () {
	border-left: @brand-primary @bigBorder solid;
	padding-left: @typoGrid * 0.68;
}

.custom-text-onlyOneLine () {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.custom-text-AllLines () {
	display: inline;
	white-space: normal;
	overflow: auto;
	text-overflow: auto;
}

.badge () {
	color: @background;
	background-color: @color;
}

.custom-blockquote () {
	.script-font ();
	@blockquote-border-width: 1px;
	position: relative;
	z-index: @zindex-content+10;
	top:-1px;
	margin: 0 0 ceil(@typoGrid * 4 / 3 + 2) 0;
	padding: 0 0 0 @typoGrid;
	font-size: @blockquote-font-size;
	line-height: @typoGrid;
	background: @grayLightest;
	border-left: @grayLighter 0px dotted;
	text-align: center;
	color: @grayLight;
	border-top: @grayLight @blockquote-border-width dotted;
	border-bottom: @grayLight @blockquote-border-width dotted;
	border-radius: 0;
}

.custom-blockquote-aside () {
	.custom-blockquote ();
	border-top: @gray 1px dotted ! important;
	border-bottom: @gray 1px dotted ! important;
	padding: 0 0 0 0;
	background: @white;
}

.custom-blockquote-paragraph-and-list () {
	text-align: center;
	font-size: @blockquote-font-size;
	line-height: @typoGrid;
	color: @grayLight;
	padding: @typoGrid (@typoGrid * 2 + 6) @typoGrid @typoGrid+9px;
	margin: 0;
	position: relative;
	z-index: @zindex-content+20;
	&:before , &:after {
		line-height: @typoGrid;
		font-family: FontAwesome;
		content: "\f10e";
		position: absolute;
		top: 19px;
		left: -@typoGrid * 0.5;
		color: @white;
		font-size: @font-size-largest;
		float: left;
		z-index: @zindex-content+40;
		.custom-text-shadow ();
	}

	&:after {
		position: relative;
		content: "\f10d";
		float: right;
		left: (@typoGrid + 18);
		clear: both;
		top: 10px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.custom-blockquote-paragraph-and-list-aside () {
	.custom-blockquote-paragraph-and-list ();
	font-size:ceil @font-size-base;
	padding: (@typoGrid + 6) 5px (@typoGrid - 6) 5px;
	&:before , &:after {
		font-size: @font-size-large;
		top: 5px;
		left: 4px;
	}

	&:after {
		left: -4px;
		top: 18px;
	}
}

.custom-blockquote-cite () {
	position: relative;
	z-index: @zindex-content+30;
	display: block;
	font-size: @blockquote-font-size * 0.75;
	.body-font ();
	line-height: ceil(@typoGrid / 2);
	text-align: center;
	padding: 0 @typoGrid @typoGrid 0;
	position: relative;
	top: -@typoGrid / 2;
	font-style:normal;
}

.custom-text-DotsAfter () {
	//content: "\2026";
}

