h1 {
  background: url(../img/editor/h1.png) 100% 0% no-repeat;
}
h2 {
  background: url(../img/editor/h2.png) 100% 0% no-repeat;
}
h3 {
  background: url(../img/editor/h3.png) 100% 0% no-repeat;
}
h4 {
  background: url(../img/editor/p.png) 100% 0% no-repeat;
}
h5 {
  background: url(../img/editor/h5.png) 100% 0% no-repeat;
}
h6 {
  background: url(../img/editor/h6.png) 100% 0% no-repeat;
}
blockquote {
  background: url(../img/editor/blockquote.png) 100% 0% no-repeat;
}
p {
  background: url(../img/editor/p.png) 100% 0% no-repeat;
}
a {
  background: #ffffff url(../img/editor/anchor.png) 0% 0% no-repeat;
}
ul,
ol {
  background: url(../img/editor/li.png) 0% 0% no-repeat;
}
.col-sm-1 {
  background: url(../img/editor/col-1.png) 0% 0% no-repeat;
  width: 22.58064516%;
  width: 8.16666667%;
}
.col-sm-2 {
  background: url(../img/editor/col-2.png) 0% 0% no-repeat;
  width: 16.33333333%;
}
.col-sm-3 {
  background: url(../img/editor/col-3.png) 0% 0% no-repeat;
  width: 24.5%;
}
.col-sm-4 {
  background: url(../img/editor/col-4.png) 0% 0% no-repeat;
  width: 32.66666667%;
}
.col-sm-5 {
  background: url(../img/editor/col-5.png) 0% 0% no-repeat;
  width: 40.83333333%;
}
.col-sm-6 {
  background: url(../img/editor/col-6.png) 0% 0% no-repeat;
  width: 49%;
}
.col-sm-7 {
  background: url(../img/editor/col-7.png) 0% 0% no-repeat;
  width: 57.16666667%;
}
.col-sm-8 {
  background: url(../img/editor/col-8.png) 0% 0% no-repeat;
  width: 65.33333333%;
}
.col-sm-9 {
  background: url(../img/editor/col-9.png) 0% 0% no-repeat;
  width: 73.5%;
}
.col-sm-10 {
  background: url(../img/editor/col-10.png) 0% 0% no-repeat;
  width: 81.66666667%;
}
.col-sm-11 {
  background: url(../img/editor/col-11.png) 0% 0% no-repeat;
  width: 89.83333333%;
}
.col-sm-12 {
  background: url(../img/editor/col-12.png) 0% 0% no-repeat;
  width: 98%;
}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
}
ul,
ol,
.row,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
p {
  padding: 13px 7px 26px;
  border: #cccccc 1px dotted;
}
ul .row,
ol .row,
.row .row,
.col-sm-1 .row,
.col-sm-2 .row,
.col-sm-3 .row,
.col-sm-4 .row,
.col-sm-5 .row,
.col-sm-6 .row,
.col-sm-7 .row,
.col-sm-8 .row,
.col-sm-9 .row,
.col-sm-10 .row,
.col-sm-11 .row,
.col-sm-12 .row,
p .row,
ul .col-sm-1,
ol .col-sm-1,
.row .col-sm-1,
.col-sm-1 .col-sm-1,
.col-sm-2 .col-sm-1,
.col-sm-3 .col-sm-1,
.col-sm-4 .col-sm-1,
.col-sm-5 .col-sm-1,
.col-sm-6 .col-sm-1,
.col-sm-7 .col-sm-1,
.col-sm-8 .col-sm-1,
.col-sm-9 .col-sm-1,
.col-sm-10 .col-sm-1,
.col-sm-11 .col-sm-1,
.col-sm-12 .col-sm-1,
p .col-sm-1,
ul .col-sm-2,
ol .col-sm-2,
.row .col-sm-2,
.col-sm-1 .col-sm-2,
.col-sm-2 .col-sm-2,
.col-sm-3 .col-sm-2,
.col-sm-4 .col-sm-2,
.col-sm-5 .col-sm-2,
.col-sm-6 .col-sm-2,
.col-sm-7 .col-sm-2,
.col-sm-8 .col-sm-2,
.col-sm-9 .col-sm-2,
.col-sm-10 .col-sm-2,
.col-sm-11 .col-sm-2,
.col-sm-12 .col-sm-2,
p .col-sm-2,
ul .col-sm-3,
ol .col-sm-3,
.row .col-sm-3,
.col-sm-1 .col-sm-3,
.col-sm-2 .col-sm-3,
.col-sm-3 .col-sm-3,
.col-sm-4 .col-sm-3,
.col-sm-5 .col-sm-3,
.col-sm-6 .col-sm-3,
.col-sm-7 .col-sm-3,
.col-sm-8 .col-sm-3,
.col-sm-9 .col-sm-3,
.col-sm-10 .col-sm-3,
.col-sm-11 .col-sm-3,
.col-sm-12 .col-sm-3,
p .col-sm-3,
ul .col-sm-4,
ol .col-sm-4,
.row .col-sm-4,
.col-sm-1 .col-sm-4,
.col-sm-2 .col-sm-4,
.col-sm-3 .col-sm-4,
.col-sm-4 .col-sm-4,
.col-sm-5 .col-sm-4,
.col-sm-6 .col-sm-4,
.col-sm-7 .col-sm-4,
.col-sm-8 .col-sm-4,
.col-sm-9 .col-sm-4,
.col-sm-10 .col-sm-4,
.col-sm-11 .col-sm-4,
.col-sm-12 .col-sm-4,
p .col-sm-4,
ul .col-sm-5,
ol .col-sm-5,
.row .col-sm-5,
.col-sm-1 .col-sm-5,
.col-sm-2 .col-sm-5,
.col-sm-3 .col-sm-5,
.col-sm-4 .col-sm-5,
.col-sm-5 .col-sm-5,
.col-sm-6 .col-sm-5,
.col-sm-7 .col-sm-5,
.col-sm-8 .col-sm-5,
.col-sm-9 .col-sm-5,
.col-sm-10 .col-sm-5,
.col-sm-11 .col-sm-5,
.col-sm-12 .col-sm-5,
p .col-sm-5,
ul .col-sm-6,
ol .col-sm-6,
.row .col-sm-6,
.col-sm-1 .col-sm-6,
.col-sm-2 .col-sm-6,
.col-sm-3 .col-sm-6,
.col-sm-4 .col-sm-6,
.col-sm-5 .col-sm-6,
.col-sm-6 .col-sm-6,
.col-sm-7 .col-sm-6,
.col-sm-8 .col-sm-6,
.col-sm-9 .col-sm-6,
.col-sm-10 .col-sm-6,
.col-sm-11 .col-sm-6,
.col-sm-12 .col-sm-6,
p .col-sm-6,
ul .col-sm-7,
ol .col-sm-7,
.row .col-sm-7,
.col-sm-1 .col-sm-7,
.col-sm-2 .col-sm-7,
.col-sm-3 .col-sm-7,
.col-sm-4 .col-sm-7,
.col-sm-5 .col-sm-7,
.col-sm-6 .col-sm-7,
.col-sm-7 .col-sm-7,
.col-sm-8 .col-sm-7,
.col-sm-9 .col-sm-7,
.col-sm-10 .col-sm-7,
.col-sm-11 .col-sm-7,
.col-sm-12 .col-sm-7,
p .col-sm-7,
ul .col-sm-8,
ol .col-sm-8,
.row .col-sm-8,
.col-sm-1 .col-sm-8,
.col-sm-2 .col-sm-8,
.col-sm-3 .col-sm-8,
.col-sm-4 .col-sm-8,
.col-sm-5 .col-sm-8,
.col-sm-6 .col-sm-8,
.col-sm-7 .col-sm-8,
.col-sm-8 .col-sm-8,
.col-sm-9 .col-sm-8,
.col-sm-10 .col-sm-8,
.col-sm-11 .col-sm-8,
.col-sm-12 .col-sm-8,
p .col-sm-8,
ul .col-sm-9,
ol .col-sm-9,
.row .col-sm-9,
.col-sm-1 .col-sm-9,
.col-sm-2 .col-sm-9,
.col-sm-3 .col-sm-9,
.col-sm-4 .col-sm-9,
.col-sm-5 .col-sm-9,
.col-sm-6 .col-sm-9,
.col-sm-7 .col-sm-9,
.col-sm-8 .col-sm-9,
.col-sm-9 .col-sm-9,
.col-sm-10 .col-sm-9,
.col-sm-11 .col-sm-9,
.col-sm-12 .col-sm-9,
p .col-sm-9,
ul .col-sm-10,
ol .col-sm-10,
.row .col-sm-10,
.col-sm-1 .col-sm-10,
.col-sm-2 .col-sm-10,
.col-sm-3 .col-sm-10,
.col-sm-4 .col-sm-10,
.col-sm-5 .col-sm-10,
.col-sm-6 .col-sm-10,
.col-sm-7 .col-sm-10,
.col-sm-8 .col-sm-10,
.col-sm-9 .col-sm-10,
.col-sm-10 .col-sm-10,
.col-sm-11 .col-sm-10,
.col-sm-12 .col-sm-10,
p .col-sm-10,
ul .col-sm-11,
ol .col-sm-11,
.row .col-sm-11,
.col-sm-1 .col-sm-11,
.col-sm-2 .col-sm-11,
.col-sm-3 .col-sm-11,
.col-sm-4 .col-sm-11,
.col-sm-5 .col-sm-11,
.col-sm-6 .col-sm-11,
.col-sm-7 .col-sm-11,
.col-sm-8 .col-sm-11,
.col-sm-9 .col-sm-11,
.col-sm-10 .col-sm-11,
.col-sm-11 .col-sm-11,
.col-sm-12 .col-sm-11,
p .col-sm-11,
ul .col-sm-12,
ol .col-sm-12,
.row .col-sm-12,
.col-sm-1 .col-sm-12,
.col-sm-2 .col-sm-12,
.col-sm-3 .col-sm-12,
.col-sm-4 .col-sm-12,
.col-sm-5 .col-sm-12,
.col-sm-6 .col-sm-12,
.col-sm-7 .col-sm-12,
.col-sm-8 .col-sm-12,
.col-sm-9 .col-sm-12,
.col-sm-10 .col-sm-12,
.col-sm-11 .col-sm-12,
.col-sm-12 .col-sm-12,
p .col-sm-12 {
  padding: 13px 0 0 0;
}
a {
  color: #0066cc;
  border: #0066cc 1px dotted;
}
a.page-scroll {
  padding: 7px 0 7px 26px;
  clear: both;
  color: #0066cc;
  border: #0066cc 2px solid;
}
p img,
img {
  max-width: 98%;
}
.row,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 4.33333333px 0;
  border: #999999 1px dotted;
  width: 98%;
  margin: 5px auto;
}
p {
  padding: 7px;
}
.row,
ul,
ol {
  width: 100%;
  margin: 7px auto;
  float: left;
  padding: 0px;
}
ul {
  list-style-position: outside;
  margin: 26px auto 26px 7px;
  list-style-type: decimal;
  vertical-align: top;
}
ul li {
  padding-left: 13px;
  margin-left: 26px;
}
