.custom-input-focus-shadow {
  -webkit-box-shadow: 0 0 24px rgba(254, 233, 0, 0.75);
  box-shadow: 0 0 24px rgba(254, 233, 0, 0.75);
}
#jcemediabox-popup-frame {
  padding: 10px;
}
#jcemediabox-popup-container {
  background: #ffffff;
  border-radius: 8px;
}
#jcemediabox-popup-loader {
  background: url(../img/loader.gif) no-repeat center center;
}
#jcemediabox-popup-content {
  padding: 0;
  z-index: 1000;
  position: relative;
}
.jcemediabox-popup-corner-tl {
  background: url(../img/corner-tl.png) no-repeat left top;
  clear: both;
  height: 10px;
}
.jcemediabox-popup-corner-tr {
  background: url(../img/corner-tr.png) no-repeat right top;
  height: 10px;
}
.jcemediabox-popup-corner-tc {
  background-color: #fff;
  height: 10px;
  margin: 0 10px;
  width: auto;
}
.jcemediabox-popup-corner-bl {
  background: url(../img/corner-bl.png) no-repeat left bottom;
  clear: both;
  height: 10px;
}
.jcemediabox-popup-corner-br {
  background: url(../img/corner-br.png) no-repeat right bottom;
  height: 10px;
}
.jcemediabox-popup-corner-bc {
  background-color: #fff;
  height: 10px;
  margin: 0 10px;
  width: auto;
}
#jcemediabox-popup-info-bottom {
  padding-top: 10px;
  margin-top: -20px;
}
#jcemediabox-popup-closelink {
  z-index: 0;
  color: #fee900;
  width: 1px;
  height: 1px;
  text-indent: -26px;
  position: relative;
  float: right;
  outline: none;
  border-bottom: none !important;
  text-decoration: none !important;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#jcemediabox-popup-closelink:hover,
#jcemediabox-popup-closelink:focus,
#jcemediabox-popup-closelink:active,
#jcemediabox-popup-closelink.active,
#jcemediabox-popup-closelink:hover span,
#jcemediabox-popup-closelink:focus span,
#jcemediabox-popup-closelink:active span,
#jcemediabox-popup-closelink.active span {
  outline: none;
  border-bottom: none !important;
  text-decoration: none !important;
}
#jcemediabox-popup-closelink:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#jcemediabox-popup-closelink:after {
  text-indent: 0px;
  font-family: FontAwesome;
  content: "\f00d";
  position: absolute;
  right: 13px;
  top: 65px;
  font-size: 42px;
  width: 26px;
  height: 65px;
  text-shadow: 0 0 2px #000000;
}
#jcemediabox-popup-nav {
  line-height: 10px;
  padding: 0;
  background-color: #fff;
}
#jcemediabox-popup-prev,
#jcemediabox-popup-next {
  width: 20px;
  height: 20px;
  position: absolute;
  border: none;
  background-color: #ccc;
  background-repeat: no-repeat;
}
/*
#jcemediabox-popup-closelink:hover,
#jcemediabox-popup-prev:hover,
#jcemediabox-popup-next:hover{
	//background-color:#333;
}*/
#jcemediabox-popup-prev {
  background-image: url(../img/prev.png);
  left: 10px;
}
#jcemediabox-popup-next {
  background-image: url(../img/next.png);
  right: 10px;
}
span#jcemediabox-popup-numbers {
  text-align: center;
  display: block;
  padding: 10px 0;
}
span#jcemediabox-popup-numbers:empty {
  padding: 0;
}
span#jcemediabox-popup-numbers a {
  border: none;
  display: inline-block;
  margin: 0 1px;
  width: 20px;
}
span#jcemediabox-popup-numbers a:active,
span#jcemediabox-popup-numbers a:visited,
span#jcemediabox-popup-numbers a:link,
span#jcemediabox-popup-numbers a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
span#jcemediabox-popup-numbers a:hover {
  font-size: 1.2em;
}
span#jcemediabox-popup-numbers a.active {
  cursor: default;
  font-size: 1.2em;
}
#jcemediabox-popup-caption {
  margin-top: 52px;
  padding: 26px;
}
#jcemediabox-popup-info-bottom {
  position: relative;
  top: 260px;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
#jcemediabox-popup-caption:empty {
  padding: 0;
  min-height: 52px;
}
#jcemediabox-popup-caption h4 {
  text-align: center;
  font-family: "Lobster", "Helvetica Neue", Helvetica, Arial, cursive;
  text-transform: none;
}
#jcemediabox-popup-caption p {
  text-align: center;
}
#jcemediabox-popup-caption a {
  text-align: center;
}
div.jcemediabox-tooltip {
  color: #000;
  border: 0;
  background: none;
}
div.jcemediabox-tooltip h4 {
  color: #000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-left {
  background: url(../img/tip-tl.png) no-repeat top left;
  clear: both;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-right {
  background: url(../img/tip-tr.png) no-repeat top right;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-top-center {
  background-color: #fff;
  height: 4px!important;
  margin: 0 4px;
  overflow: hidden;
  border-top: 1px solid #000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-left {
  clear: both;
  background-color: #fff;
  border-left: 1px solid #000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-right {
  background-color: #fff;
  border-right: 1px solid #000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-middle-center {
  margin: 0 4px;
  background-color: #fff;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-left {
  background: transparent url(../img/tip-bl.png) no-repeat bottom left;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-center {
  background-color: #fff;
  height: 4px!important;
  margin: 0 4px;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
div.jcemediabox-tooltip .jcemediabox-tooltip-bottom-right {
  background: transparent url(../img/tip-br.png) no-repeat bottom right;
}
#jcemediabox-popup-page.ie6 #jcemediabox-popup-nav {
  height: 10px;
}
#jcemediabox-popup-page.ie6 #jcemediabox-popup-caption {
  margin-top: -1px;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-tooltip-top-left {
  background: url(../img/tip-tl.gif) no-repeat top left;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-tooltip-top-right {
  background: url(../img/tip-tr.gif) no-repeat top right;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-tooltip-bottom-left {
  background: transparent url(../img/tip-bl.gif) no-repeat bottom left;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-tooltip-bottom-right {
  background: transparent url(../img/tip-br.gif) no-repeat bottom right;
}
/*
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-tl{
	background:url(../img/corner-tl.gif) no-repeat left top;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-tc{
	overflow:hidden;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-tr{
	background:url(../img/corner-tr.gif) no-repeat right top;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-bl{
	background:url(../img/corner-bl.gif) no-repeat left bottom;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-bc{
	overflow:hidden;
}
div.jcemediabox-tooltip.ie6 .jcemediabox-popup-corner-br{
	background:url(../img/corner-br.gif) no-repeat right bottom;
}
#jcemediabox-popup-page.ios .jcemediabox-popup-corner-tc,
#jcemediabox-popup-page.ios .jcemediabox-popup-corner-tr,
#jcemediabox-popup-page.ios .jcemediabox-popup-corner-bc,
#jcemediabox-popup-page.ios .jcemediabox-popup-corner-br{
	display:none;
}
#jcemediabox-popup-page.ios .jcemediabox-popup-corner-tl,
#jcemediabox-popup-page.ios .jcemediabox-popup-corner-bl{
	background:#fff none;
	width:auto;
	margin:0;
	height:11px;
}
#jcemediabox-popup-page.ios .jcemediabox-popup-corner-tl{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	margin-bottom:-1px;
}
#jcemediabox-popup-page.ios .jcemediabox-popup-corner-bl{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-top:-6px;
}*/
#jcemediabox-popup-page.ios #jcemediabox-popup-closelink {
  top: 10px;
}
#jcemediabox-popup-page.ios #jcemediabox-popup-prev,
#jcemediabox-popup-page.ios #jcemediabox-popup-next {
  margin: 0;
}
#jcemediabox-popup-page.ios #jcemediabox-popup-caption {
  margin: -1px 0;
}
#jcemediabox-popup-page.ios #jcemediabox-popup-nav {
  margin-bottom: -1px;
}
#jcemediabox-popup-page.ios span#jcemediabox-popup-numbers {
  margin-top: 5px;
}
#jcemediabox-popup-page.android .jcemediabox-popup-corner-tc,
#jcemediabox-popup-page.android .jcemediabox-popup-corner-tr,
#jcemediabox-popup-page.android .jcemediabox-popup-corner-bc,
#jcemediabox-popup-page.android .jcemediabox-popup-corner-br {
  display: none;
}
#jcemediabox-popup-page.android .jcemediabox-popup-corner-tl,
#jcemediabox-popup-page.android .jcemediabox-popup-corner-bl {
  background: #fff none;
  width: auto;
  margin: 0;
  height: 11px;
}
#jcemediabox-popup-page.android .jcemediabox-popup-corner-tl {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -1px;
}
#jcemediabox-popup-page.android .jcemediabox-popup-corner-bl {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -6px;
}
#jcemediabox-popup-page.android #jcemediabox-popup-closelink {
  top: 10px;
}
#jcemediabox-popup-page.android #jcemediabox-popup-prev,
#jcemediabox-popup-page.android #jcemediabox-popup-next {
  margin: 0;
}
#jcemediabox-popup-page.android #jcemediabox-popup-caption {
  margin: -1px 0;
}
#jcemediabox-popup-page.android #jcemediabox-popup-nav {
  margin-bottom: -1px;
}
#jcemediabox-popup-page.android span#jcemediabox-popup-numbers {
  margin-top: 5px;
}
