@import "../variables.less";
@import "../gecko/variables.less";


@approx100percent:	98%;
h1 {
	background:url(../img/editor/h1.png) 100% 0% no-repeat;
}
h2 {
	background:url(../img/editor/h2.png) 100% 0% no-repeat;
}
h3 {
	background:url(../img/editor/h3.png) 100% 0% no-repeat;
}
h4 {
	background:url(../img/editor/p.png) 100% 0% no-repeat;
}
h5 {
	background:url(../img/editor/h5.png) 100% 0% no-repeat;
}
h6 {
	background:url(../img/editor/h6.png) 100% 0% no-repeat;
}
blockquote {
	background:url(../img/editor/blockquote.png) 100% 0% no-repeat;
}
p {
	background:url(../img/editor/p.png) 100% 0% no-repeat;
}
a {
	background:@white url(../img/editor/anchor.png) 0% 0% no-repeat;
}
ul,ol, dl {
	background:url(../img/editor/li.png) 0% 0% no-repeat;
}

.col-sm-1 {
	background:url(../img/editor/col-1.png) 0% 0% no-repeat;
	width:	percentage(140/620);
	width:	percentage(@approx100percent/12*0.01);
}
.col-sm-2 {
	background:url(../img/editor/col-2.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.02);
}
.col-sm-3 {
	background:url(../img/editor/col-3.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.03);
}
.col-sm-4 {
	background:url(../img/editor/col-4.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.04);
}
.col-sm-5 {
	background:url(../img/editor/col-5.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.05);
	
}
.col-sm-6 {
	background:url(../img/editor/col-6.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.06);
}
.col-sm-7 {
	background:url(../img/editor/col-7.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.07);
}
.col-sm-8 {
	background:url(../img/editor/col-8.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.08);
}
.col-sm-9 {
	background:url(../img/editor/col-9.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.09);
}
.col-sm-10 {
	background:url(../img/editor/col-10.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.10);
}
.col-sm-11 {
	background:url(../img/editor/col-11.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.11);
}
.col-sm-12 {
	background:url(../img/editor/col-12.png) 0% 0% no-repeat;
	width:	percentage(@approx100percent/12*0.12);
}



.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
	float:left;
}
ul, ol,
.row,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
p {
	padding:	ceil(@typoGrid/2) ceil(@typoGrid/4) ceil(@typoGrid);
	border:		@grayLighter 1px dotted;
	.row,
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		padding:ceil(@typoGrid/2) 0 0 0;
		
	}
}
a {
	color: 			@blue;
	border:			@blue 1px dotted;
}
a.page-scroll {
	padding:ceil(@typoGrid/4) 0 ceil(@typoGrid/4) @typoGrid;
	clear:	both;
	color: 			@blue;
	border:			@blue 2px solid;
}
p img,
img {
	max-width:		percentage(@approx100percent/100);
	
	
	
}

.row,
h1, h2, h3, h4, h5, h6,
p {
	padding:@typoGrid/6 0;
	border:@grayLight 1px dotted;
	width:percentage(@approx100percent/100);
	margin:ceil(@typoGrid/6) auto;
}
p {
	padding:ceil(@typoGrid/4);
}
.row,
ul,
ol {
	width:100%;
	margin:ceil(@typoGrid/4) auto;
	float:left;
	padding:0px;
}
ul {
	list-style-position:outside;
	margin:ceil(@typoGrid) auto ceil(@typoGrid) ceil(@typoGrid/4);
	list-style-type:decimal;
	vertical-align:top;
	li {
		padding-left:	ceil(@typoGrid/2);
		margin-left:	ceil(@typoGrid);

		
	}
}

h1, h2, h3, h4, h5, h6 {
//	padding:@typoGrid;
}


