@import "../variables.less";

@import "../gecko/variables.less";
@import "../mixins.less";
@import "../gecko/mixins.less";

.jcepopup {
	
	margin:0; //ceil(@typoGrid/6);

}

@media print{
a.jcepopup span.jcemediabox-zoom-image{
background:none!important;
}
}
#jcemediabox-popup-page,#jcemediabox-popup-overlay,#jcemediabox-popup-body,#jcemediabox-popup-loader,#jcemediabox-popup-container,#jcemediabox-popup-content,#jcemediabox-popup-content,#jcemediabox-popup-object,#jcemediabox-popup-iframe,#jcemediabox-popup-img{
left:0;
top:0;
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
height:100%;
width:100%;
}
#jcemediabox-popup-page{
position:fixed;
z-index:10000;
}
#jcemediabox-popup-overlay{
position:absolute;
cursor:pointer;
}
#jcemediabox-popup-frame{
position:relative;
overflow:visible;
height:100%;
z-index:10001;
cursor:pointer;
}
#jcemediabox-popup-body{
position:relative;
overflow:visible;
margin:0 auto;
width:300px;
height:300px;
z-index:10002;
cursor:default;
}
#jcemediabox-popup-loader{
text-align:center;
line-height:0;
}
#jcemediabox-popup-info-bottom,#jcemediabox-popup-info-top{
//overflow:hidden;
position:relative;
margin:0;
padding:0;
border:0;
visibility:hidden;

}
#jcemediabox-popup-container{
overflow:hidden;
}
#jcemediabox-popup-content.broken-image{
background:url('../img/broken-image.png') no-repeat center;
}
#jcemediabox-popup-content.broken-media{
background:url('../img/broken-media.png') no-repeat center;
}
#jcemediabox-popup-content.broken-page{
background:url('../img/broken-page.png') no-repeat center;
}
#jcemediabox-popup-content p.media-support{
font-size:20px;
color:#888;
font-weight:bold;
text-align:center;
height:100%;
position:relative;
top:50%;
margin-top:-10px;
}
#jcemediabox-popup-img,#jcemediabox-popup-object,#jcemediabox-popup-iframe{
text-align:center;
}
#jcemediabox-popup-page.ios #jcemediabox-popup-content,#jcemediabox-popup-page.android #jcemediabox-popup-content{
overflow:scroll;
}
#jcemediabox-popup-ajax{
overflow:auto;
border:0;
padding:0;
margin:0;
width:auto;
height:100%;
background-color:#fff;
position:relative;
}
a.jcepopup[type="image"],a.jcepopup[href$=".jpg"],a.jcepopup[href$=".png"],a.jcepopup[href$=".gif"],a.jcepopup[href$=".tiff"],a.jcepopup[href$=".bmp"]{
line-height:0;
}
.wf_caption a.jcepopup{
display:block;
}
a.jcepopup span.jcemediabox-zoom-span{
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
cursor:pointer;
display:inline-block;
overflow:hidden;
position:relative;
float:none;

border:#000000 1px dotted;
}
a.jcepopup span.jcemediabox-zoom-image{
margin:0;
padding:0;
border:0;
outline:0;
vertical-align:baseline;
display:block;
background:transparent url(../img/zoom-img.png) no-repeat bottom right;
width:100%;
height:100%;
position:absolute;
z-index:1;
bottom:0;
left:0;
}
/*
a.jcepopup.icon-left span.jcemediabox-zoom-image,a.jcepopup.icon-bottom-left span.jcemediabox-zoom-image,a.jcepopup.zoom-bottom-left span.jcemediabox-zoom-image{
background-position:bottom left;
}
a.jcepopup.icon-top-left span.jcemediabox-zoom-image,a.jcepopup.zoom-top-left span.jcemediabox-zoom-image{
background-position:top left;
}
a.jcepopup.icon-top span.jcemediabox-zoom-image,a.jcepopup.icon-top-right span.jcemediabox-zoom-image,a.jcepopup.zoom-top-right span.jcemediabox-zoom-image{
background-position:top right;
}
a.jcepopup.icon-center span.jcemediabox-zoom-image,a.jcepopup.zoom-center span.jcemediabox-zoom-image{
background-position:center center;
}
a.jcepopup.icon-center-left span.jcemediabox-zoom-image,a.jcepopup.zoom-center-left span.jcemediabox-zoom-image{
background-position:center left;
}
a.jcepopup.icon-center-right span.jcemediabox-zoom-image,a.jcepopup.zoom-center-right span.jcemediabox-zoom-image{
background-position:center right;
}
a.jcepopup.icon-center-top span.jcemediabox-zoom-image,a.jcepopup.zoom-center-top span.jcemediabox-zoom-image{
background-position:center top;
}
a.jcepopup.icon-center-bottom span.jcemediabox-zoom-image,a.jcepopup.zoom-center-bottom span.jcemediabox-zoom-image{
background-position:center top;
}*/
a.jcepopup span.jcemediabox-zoom-link,a.jcepopup span.jcemediabox-zoom-link.icon-right,a.jcepopup span.jcemediabox-zoom-link.zoom-right{
padding:0;
//background:transparent url(../img/zoom-link.gif) no-repeat center right;
display:inherit;
}
a.jcepopup span.jcemediabox-zoom-link.icon-left,a.jcepopup span.jcemediabox-zoom-link.zoom-left{
padding-left:18px;
background:transparent url(../img/zoom-link.gif) no-repeat center left;
}
#jcemediabox-popup-caption,#jcemediabox-popup-caption h4,#jcemediabox-popup-caption p{
margin:0;
padding:0;
border:0;
}
div.jcemediabox-tooltip,div.jcemediabox-tooltip-simple{
z-index:10010;
width:180px;
text-align:left;
color:#000;
background-color:#fff;
border:1px solid black;
padding:4px;
float:none;
max-width:100%;
position:absolute;
top:0;
left:0;
visibility:hidden;
}
div.jcemediabox-tooltip h4,div.jcemediabox-tooltip-simple h4{
font-weight:bold;
font-size:11px;
margin:0;
background:none;
padding:0;
}
div.jcemediabox-tooltip p,div.jcemediabox-tooltip-simple p{
font-size:11px;
background:none;
margin:0;
padding:0;
}
a.jcepopup.ie6 span.jcemediabox-zoom-image{
background:transparent url(../img/zoom-img.png) no-repeat;
width:20px;
height:20px;
left:auto;
top:auto;
right:0;
}
a.jcepopup.ie6 span.jcemediabox-zoom-link{
display:inline-block;
}
a.jcepopup.ie6.icon-left span.jcemediabox-zoom-image,a.jcepopup.icon-bottom-left span.jcemediabox-zoom-image{
top:auto;
right:0;
}
a.jcepopup.ie6.icon-top span.jcemediabox-zoom-image,a.jcepopup.icon-top-right span.jcemediabox-zoom-image{
top:0;
}
a.jcepopup.ie6.icon-left span.jcemediabox-zoom-image{
left:0;
right:auto;
}
