//.custom-modal,
//.main-content {
	.panel-group .panel + .panel {
	margin-top: 0px;
}

.panel-group {
	.custom-accordion ();
	width: 100%;
	
	float: left;
	.panel , .panel-default {
		margin-top: 0;
		border: none;
		> .panel-heading {
			#gradient > .directional (@grayLightest , @white , -15deg);
			padding: 0px;
			float: left;
			width: 100%;
			border: none;
			h2 , h3 , h4 {
				padding-bottom: 0px;
			}
		}

		.panel-title {
			padding: 0;
			a {
				.custom-accordion-header ();
				#gradient > .directional (@grayLightest , @white , -15deg);
				padding: 0 ceil(@typoGrid / @goldenRatio);
				font-size: @font-size-toggle;
				line-height:	ceil(@typoGrid * 1.4);
				&:after {
					.custom-dropdown-icon ();
					padding: 0;
					margin:	ceil(@typoGrid * 0.1) ceil(@typoGrid / 2);
				}

				&:focus,
				&:hover {
					color: @link-hover-color;
					&:after {
						.custom-dropdown-icon ();
						.transformElement (rotate , 360deg;
						scale , @scaleFactorOrigin);
						.custom-setSpeed (@rotationSpeedFast);
						color: @portfolioTabsCounterColorHover;
						margin:	ceil(@typoGrid * 0.1)  ceil(@typoGrid / 2);
					}
				}
			}

			a.collapsed {
				border-bottom: @link-color 1px dotted ! important;
				&:focus,
				&:hover {
					border-bottom: @link-hover-color 1px dotted ! important;
				}
			}
		}

		.panel-body {
			.custom-canvas ();
			//position: relative;
			//top:	@typoGrid;
			padding: ceil(2 * @typoGrid - 23) @typoGrid (2*@typoGrid - 3) @typoGrid;
		}

		.panel-collapse > .panel-body {
			border-top: none ! important;
		}
	}
}

.accordion , .panel {
	.modal-link {
		&:focus img,
		&:hover img {
			.transformElement (rotate , 0deg;
			scale , @scaleFactorLarge);
			.custom-setSpeed (@scaleSpeed);
		}
	}
}

.accordion-group {
	.custom-accordion ();
	.accordion-heading {
		border-bottom: @grayLightest 1px dotted;
	}

	.accordion-body {
		.custom-canvas ();
		border-top: none ! important;
		position: relative;
		z-index: @zindex-content+10;
		padding: @typoGrid;
		float: left;
		width: 100%;
	}

	a.accordion-toggle {
		.custom-accordion-header ();
		#gradient > .directional (@grayLightest , @white , -15deg);
		padding: 0 ceil(@typoGrid / 2) 0 ceil(@typoGrid / 2);
		&:after {
			.custom-dropdown-icon ();
			padding: 0;
		}

		&:focus,
		&:hover {
			color: @link-hover-color;
			&:after {
				.custom-dropdown-icon ();
				.transformElement (rotate , 360deg;
				scale , @scaleFactorOrigin);
				.custom-setSpeed (@rotationSpeedFast);
				color: @portfolioTabsCounterColorHover;
			}
		}
	}
}

.accordion-vertical {
	.custom-accordion-vertical ();
	height: @portfolioSectionHeight - @portfolioTabsSpacing;
	width: 100%;
	margin: 0 auto (@typoGrid * 2 - 2);
	border-top: @portfolioBorderColor @portfolioBorderWidth solid;
	border-bottom: @portfolioBorderColor @portfolioBorderWidth solid;
	section {
		.custom-accordion-section ();
		
		
			
		
		
		
		h3 {
			.custom-accordion-header ();
			.custom-accordion-header-vertical ();
			
			
			
		}
	}

	section:target , section.active {
		.custom-accordion-section-active ();
		width: 100%;
		//ceil(@screen-sm / 2 - 2 * @canvasPaddingHorizonal - (@portfolioSectionWidth + 2 * @portfolioTabsSpacing) * 2 - 9);
		h3 {
			.custom-accordion-header-active ();
			
		}
	}
}





.tools-container {
	.panel-group {
		margin: 0px;
	}

	margin: 0;
	.in {
		float: left;
		width: 100%;
		padding: ceil(@typoGrid / 2) 0;
		border-radius: 50px;
		.in {
			padding: 0;
		}
	}

	.panel-group {
	}

	.panel-group {
		#gradient > .directional (@grayLightest , @white , -15deg);
		border-radius: @border-radius-base + 1;
		.panel , .panel-default {
			border-radius: @border-radius-base + 1;
			background: none ! important;
			.panel-heading {
				background: none ! important;
			}

			.panel-body {
				border-bottom: @link-color 1px dotted;
			}

			&:first-child .panel-heading .panel-title a {
				border-radius: @border-radius-base @border-radius-base 0 0;
			}

			&:last-child .panel-heading .panel-title a.collapsed {
				border-radius: 0 0 @border-radius-base @border-radius-base;
			}
		}
	}
}

@media (min-width: @screen-sm) {
	
	
	.panel-group {
		padding: 0;
	}

	.custom-modal , .main-content {
		.accordion-vertical section:target , .accordion-vertical section.active {
			width: ceil(@container-sm - 2 * @canvasPaddingHorizonalMiddle - (@portfolioSectionWidth + 2 * @portfolioTabsSpacing) * 2);
		}
	}
}

@media (min-width: @screen-md-min) {
	.custom-modal , .main-content {
		.accordion-vertical section:target , .accordion-vertical section.active {
			width: ceil(@container-md - 2 * @canvasPaddingHorizonalLarge - (@portfolioSectionWidth + 2 * @portfolioTabsSpacing) * 2);
		}
	}
}

@media (min-width: @screen-lg-min) {
	.custom-modal , .main-content {
		.accordion-vertical section:target , .accordion-vertical section.active {
			width: ceil(@container-lg - 2 * @canvasPaddingHorizonalLargest - (@portfolioSectionWidth + 2 * @portfolioTabsSpacing) * 2);
		}
	}
}



@media (max-width: @screen-sm) {
	.tools-container .in {
		background:@backgroundColorCanvas;
		float:none;
		padding-top:0px;
		
	}
	.tools-container .panel-group .panel-default:last-child .panel-heading .panel-title a.collapsed {
		border-radius:0px;
		border-bottom:0px @black solid !important;
	}
	.accordion , .panel {
		.modal-link {
			&:hover img,
			&:focus img{
				.transformElement (rotate , 0deg;
				scale , @scaleFactorOrigin) ! important;
			}
		}
	}
	.panel-group .panel .panel-title a, 
	.panel-group .panel-default .panel-title a {
		
		padding: ceil(@typoGrid / 2) 0;
		line-height:ceil(@typoGrid * 1.3);
	}

	
	.accordion-vertical {
		
		section {
			border-bottom: @portfolioBorderColor @portfolioBorderWidth solid;
			float:	right;
			//height:	@portfolioSectionWidth;
			height:	auto;
			width:100%;
			top:	0;
			position:relative;
			.content			{
				height:0px;
				.opacity (0.01);
				overflow:hidden;
			}
			h3 {
				.transformElement (rotate , 0deg;
				scale , @scaleFactorOrigin);
				transition: all @scaleSpeed ease-in-out;
				top:0px;
				width:100%;
			}
		}
	}
	.accordion-vertical section:target, .accordion-vertical section.active {
		overflow:	hidden;
		h3 {
			top:0;
			
			width:100%;
		}
		.content {
			height:@portfolioSectionHeight;
			
			top:0;
			padding-top:	@typoGrid;
						.opacity (1.0);

		}

	}
}
.contact-form .accordion-group {
	.custom-accordion-alternative ();
	margin: 2 * @typoGrid 0;
}

.contact-form .accordion-group , .registration , .remind , .reset {
	.controls input {
		width: 100%;
	}

	a.accordion-toggle {
		.custom-accordion-header ();
		.custom-radial-gradient (50% , 50% , circle , cover , @white , 50% , @grayLightest , 90%);
		.custom-header-shadow ();
		font-size: @font-size-toggle;
		&:focus,
		&:hover{
			color: @link-hover-color;
		}
	}

	input#jform_contact_emailmsg {
		width: 100%;
	}

	#recaptcha_area {
	}

	.recaptchatable #recaptcha_reload {
		margin: ceil(@typoGrid / 2) 0 0;
	}

	.recaptchatable #recaptcha_image #recaptcha_challenge_image {
		border-right: @grayLight 1px solid;
		border-bottom: @grayLight 1px solid;
		.custom-image-shadow ();
	}

	.recaptchatable {
		td {
			display: inline-block;
		}
	}
}

