


div.main-content , aside {
	.blog-preview {
		padding-top: (@typoGrid - 1);
		.blog-preview {
			border-top: black 0px solid;
			margin-top: 0;
		}

		padding-bottom: 0px;
		position: relative;
		top: 1px;
		.date {
			position: relative;
			top: -2px;
			line-height: @typoGrid;
			height: @typoGrid;
			max-height: @typoGrid;
			overflow: hidden;
			display: block;
		}

		ul {
			list-style: none;
			padding: 0 ! important;
			position: relative;
			&:before {
				top: 0px;
				bottom: 40px;
				position: absolute;
				content: "";
				width: @borderPreviewLineWidth;
				background-color: @borderPreviewLineColor;
				left: (@differencePositioning + @blogPreviewImageSizeDefault * 0.5 * @blogPreviewImageSizeRatio - @borderthumbSize);
			}

			li {
				.custom-list-item-reset ();
				margin: 0 0 @typoGrid 0px;
				position: relative;
				min-height: (@blogPreviewImageSizeDefault + 6);
				&:before , &:after {
					display: inline-block;
				}

				&:after {
					clear: both;
					position: absolute;
					left: @differencePositioning;
					top: 0px;
					height: (@blogPreviewImageSizeDefault * @blogPreviewImageSizeRatio - 2 * @borderthumbSize);
					width: (@blogPreviewImageSizeDefault * @blogPreviewImageSizeRatio - 2 * @borderthumbSize);
					.custom-img-preview ();
					.custom-text-shadow ();
					background: @blogPreviewImageBackground;
					color: @grayLightest;
					content: "\f054";
					font-family: fontAwesome;
					font-size: @font-size-large;
					line-height: (@blogPreviewImageSizeDefault - 2 * @borderthumbSize);
					padding-left: ceil(@blogPreviewImageSizeDefault / 12);
					text-align: center;
				}

				.blog-panel {
					width: 100%;
					padding: 0 @typoGrid 0 ceil(@blogPreviewImageSizeLarge * @blogPreviewImageSizeRatio + @typoGrid - @differencePositioning);
					position: relative;
					text-align: left;
					top: -2px;
					&:before {
						border-left-width: 0;
						border-right-width: @borderPreviewLineWidth;
						left: -15px;
						right: auto;
					}

					&:after {
						border-left-width: 0;
						border-right-width: @borderPreviewLineWidth;
						left: (-@borderPreviewLineWidth);
						right: auto;
					}
				}

				.blog-image {
					text-align: center;
					height: @blogPreviewImageSizeDefault;
					width: @blogPreviewImageSizeDefault * @blogPreviewImageSizeRatio;
					left: @differencePositioning;
					margin-left: 0;
					position: absolute;
					z-index: @zindex-content+10;
					img , img.img-thumbnail , img.img-responsive {
						height: @blogPreviewImageSizeDefault - 2 * @borderthumbSize;
						width: (@blogPreviewImageSizeDefault * @blogPreviewImageSizeRatio - 2 * @borderthumbSize);
						border-radius: @borderRadius;
						.custom-img-preview ();
					}

					a img , a img.img-thumbnail , a img.img-responsive {
						.transformElement (rotate , 0deg;
						scale , @scaleFactorOrigin);
						border-color: @borderPreviewColorEmphasize ! important;
					}

					a:hover img , a:hover .img-thumbnail , a:hover img.img-responsive {
						.transformElement (rotate , 360deg;
						scale , @scaleFactorLarger);
						border-color: @borderPreviewColorEmphasizeHover ! important;
					}
				}

				.blog-heading {
					padding: 0px 0px 0px;
					h4 {
						padding: 0px ! important;
						margin: (@typoGrid - 22) 0 (@typoGrid - 4) 0;
						color: inherit;
						font-size: ceil(0.75*@font-size-large);
						&.subheading {
							text-transform: none;
							a span.title-shortened {
								line-height: 26px;
							}
						}
					}
				}

				.blog-body {
					> p , > ul {
						margin-bottom: 0;
					}

					p {
						.custom-text-onlyOneLine ();
						clear:both;
					}
				}

				&:first-child {
					margin: 0 0 26px 0px;
					min-height: (@blogPreviewImageSizeLarge + 6);
					.blog-panel {
						padding: 0 @typoGrid 0 (@blogPreviewImageSizeLarge * @blogPreviewImageSizeRatio + @typoGrid);
					}

					.blog-image {
						left: -1px;
						height: @blogPreviewImageSizeLarge;
						width: @blogPreviewImageSizeLarge * @blogPreviewImageSizeRatio;
						img , img.img-thumbnail , img.img-responsive {
							border-color: @borderPreviewColorEmphasize;
							.opacity (1);
							height: @blogPreviewImageSizeLarge - 2 * @borderthumbSize;
							width: @blogPreviewImageSizeLarge * @blogPreviewImageSizeRatio - 2 * @borderthumbSize;
							.custom-img-preview ();
						}

						a:hover img , a:hover .img-thumbnail , a:hover img.img-responsive {
							.transformElement (rotate , 360deg;
							scale , @scaleFactorLarge);
							border-color: @borderPreviewColorEmphasizeHover;
						}
					}

					&:after {
						clear: both;
						position: absolute;
						left: @differencePositioning;
						top: 0px;
						height: (@blogPreviewImageSizeDefault * @blogPreviewImageSizeRatio - 2 * @borderthumbSize);
						width: (@blogPreviewImageSizeDefault * @blogPreviewImageSizeRatio - 2 * @borderthumbSize);
						height: (@blogPreviewImageSizeLarge * @blogPreviewImageSizeRatio - 2 * @borderthumbSize);
						width: (@blogPreviewImageSizeLarge * @blogPreviewImageSizeRatio - 2 * @borderthumbSize);
						left: -1px;
						top: 0px;
						font-size: @font-size-largest;
						line-height: (@blogPreviewImageSizeLarge - 2 * @borderthumbSize);
						padding-left: ceil(@blogPreviewImageSizeLarge / 12);
					}

					p {
						.custom-text-AllLines ();
						&:after {
							.custom-text-DotsAfter ();
						}
					}
				}
			}

			.tags {
				position: absolute;
				right: 0px;
				.transformElement (rotate , 90deg;
				scale , @scaleFactorOrigin);
				.transform-origin (100% 100%);
				a {
					position: absolute;
					left: 0px;
					float: left;
				}

				.label-info {
					background: @grayLightest;
					.opacity (0.5);
				}:hover .label-info {
					background: @brand-primary;
					.opacity (1);
				}
			}
		}
	}

	.blog-footer {
		margin: (@typoGrid + 1) 0 (2 * @typoGrid + 3) 0;
		text-align: right;
		a {
			margin: 0 0 0 @typoGrid / 8;
		}

		&:before {
			.custom-list-link ();
		}
	}
}


.expertise , .blog-timeline {
	position:relative;
	top:ceil(@typoGrid);
	list-style: none;
	padding: 0 0 (2 * @typoGrid - 1) 0px ! important;
	margin:0px;
	&:before {
		top: 55px;
		bottom: 150px;
		position: absolute;
		content: "";
		width: @borderPreviewLineWidth;
		background-color: @borderPreviewLineColor;
		left: 0;
		margin-left: (@blogPreviewImageSizeLarge * 0.75 * 0.5 - @borderPreviewLineWidth / 2 - 2);
	}

	> li {
		.custom-list-item-reset ();
		margin-top: 0px ! important;
		position: relative;
		top:0;
		min-height: @typoGrid * 7;
		&:after {
			clear: both;
		}

		.blog-timeline-panel {
			width: 100%;
			float: right;
			padding: 0 0 0 ceil(@blogPreviewImageSizeLarge * 0.75 * 0.75 + @typoGrid);
			position: relative;
			text-align: left;
			&:before {
				border-left-width: 0;
				border-right-width: 15px;
				left: -15px;
				right: auto;
			}

			&:after {
				border-left-width: 0;
				border-right-width: 14px;
				left: -14px;
				right: auto;
			}
		}

		.blog-timeline-image {
			left: 0;
			margin-left: 0;
			width: ceil(@blogPreviewImageSizeLarge * 0.75 * 0.75);
			height: ceil(@blogPreviewImageSizeLarge * 0.75 * 0.75);
			position: absolute;
			z-index: 2000;
			text-align: center;
			img , img.img-thumbnail , img.img-responsive {
				.custom-img-preview ();
				.transformElement (rotate , 0deg;
				scale , @scaleFactorOrigin);
			}:hover img {
				.transformElement (rotate , 0deg;
				scale , @scaleFactorLarge);
			}

			h4 {
				padding-top: @typoGrid * 0.6;
				font-size: @font-size-base * 0.75;
				line-height: @typoGrid * 0.65;
			}
		}
		
		

		&.blog-timeline-inverted > .blog-timeline-panel {
			float: right;
			text-align: left;
			padding: 0 0 0 (@blogPreviewImageSizeLarge * 0.75 * 0.75 + @typoGrid);
			&:before {
				border-left-width: 0;
				border-right-width: 15px;
				left: -15px;
				right: auto;
			}

			&:after {
				border-left-width: 0;
				border-right-width: 14px;
				left: -14px;
				right: auto;
			}
		}

		&:last-child {
			margin-bottom: 0;
			.blog-timeline-image {
				border: @grayLighter solid @borderPreviewLineWidth;
				border-radius: 50%;
				.custom-img-preview ();
				background: @blogPreviewImageBackground;
			}
		}
		&.blog-timeline-hidden {
			display:none;
		}
	}

	.blog-timeline-heading {
		h4 {
			margin-top: 0;
			color: inherit;
			line-height: @typoGrid;
			padding: 0px;
			&.subheading {
				text-transform: none;
			}
		}
	}

	.blog-timeline-body {
		> p , > ul {
			margin-bottom: 0;
		}
	}
}

.expertise {
	margin-top: (@typoGrid) ! important;
	margin-bottom: 0px ! important;
	top: 0px;
	&:before {
		top: 65px;
		position: absolute;
		content: "";
		width: @borderPreviewLineWidth;
		background-color: @borderPreviewLineColor;
		left: 0;
		//margin-left: (@blogPreviewImageSizeLarge * 0.75 * 0.5 - 2);
		margin-left: ceil(@blogPreviewImageSizeLarge * 0.75 * 0.75 * 0.5);
		bottom: 5 * @typoGrid;
		//
	}

	> li {
		min-height: @typoGrid * 4;
		.blog-timeline-image {
		}

		&:last-child {
			margin-bottom: 0;
			.blog-timeline-image {
				background: @white;
				border: @borderPreviewColor solid 0 ! important;
				color: @gray;
			}
		}
	}

	padding-bottom: (2 * @typoGrid + 1) ! important;
}




@media (min-width: @screen-sm) {
	.blog-timeline > li {
		min-height: @typoGrid * 5;
	 }
	.expertise > li {

		min-height: @typoGrid * 5;
		
		
	}
	
	.blog-timeline {
		&:before {
			left: 50%;
			margin-left: 0;
		}

		> li {
			margin-bottom: @typoGrid;
			min-height: @typoGrid * 5;
			
			overflow:visible;
			.blog-timeline-panel {
				width: 33%;
				float: left;
				padding: 0;
				text-align: right;
				
			}

			.blog-timeline-image {
				width: ceil(@blogPreviewImageSizeLarge * 0.75);
				height: ceil(@blogPreviewImageSizeLarge * 0.75);
				margin-left: (-@blogPreviewImageSizeLarge * 0.75 * 0.5);
				
				left: 50%;
				h4 {
					padding-top: @typoGrid * 0.80;
					font-size: @font-size-base * 0.85;
					line-height: @typoGrid * 0.85;
				}
				img,
				img.img-thumbnail,
				img.img-responsive {
					position:absolute;
				}
				
			}
			
			.blog-timeline-image-first {

				width: ceil(@blogPreviewImageSizeLarge * 0.75 / @goldenRatio);
				height: ceil(@blogPreviewImageSizeLarge * 0.75 / @goldenRatio);
				margin-left: (-@blogPreviewImageSizeLarge * 0.75 * 0.5 / @goldenRatio);
			}

			&.blog-timeline-inverted > .blog-timeline-panel {
				float: right;
				text-align: left;
				padding: 0;
			}
		}
	}
	
	.pull-right {
		.expertise {
			margin-left:0;
			li .blog-timeline-panel {
				padding-left:ceil(@blogPreviewImageSizeDefault  -  2*@borderthumbSize + @typoGrid);
			}
		}
	}
}

@media (min-width: @screen-md) {
	.blog-timeline {
		> li {
			margin-bottom: @typoGrid * 2;
			.blog-timeline-panel {
				padding: 0px;
				width: 35%;
				float: left;
			}

			.blog-timeline-image {
				width: ceil(@blogPreviewImageSizeLarge * 0.85);
				height: ceil(@blogPreviewImageSizeLarge * 0.85);
				margin-left: (-@blogPreviewImageSizeLarge * 0.85 * 0.5);
				h4 {
					padding-top: @typoGrid;
					font-size: @font-size-base;
					line-height: @typoGrid * 0.9;
				}
			}
			
			.blog-timeline-image-first {

				width: ceil(@blogPreviewImageSizeLarge * 0.85 / @goldenRatio);
				height: ceil(@blogPreviewImageSizeLarge * 0.85 / @goldenRatio);
				margin-left: (-@blogPreviewImageSizeLarge * 0.85 * 0.5 / @goldenRatio);
			}

			&.blog-timeline-inverted > .blog-timeline-panel {
				padding: 0;
				float: right;
			}
		}
	}
	.pull-right {
		.expertise {
			margin-left:ceil( @typoGrid/2 + @borderthumbSize);
			li .blog-timeline-panel {
				padding-left:ceil(@blogPreviewImageSizeDefault  -  2*@borderthumbSize + @typoGrid);
			}
		}
	}
}

@media (min-width: @screen-lg) {
	.blog-timeline {
		> li {
			margin-bottom: @typoGrid * 2;
			.blog-timeline-panel {
				padding: 0;
				width: 36%;
			}

			.blog-timeline-image {
				width: @blogPreviewImageSizeLarge;
				height: @blogPreviewImageSizeLarge;
				margin-left: (-@blogPreviewImageSizeLarge * 0.5);
				h4 {
					padding-top: @typoGrid * 1.2;
					font-size: @font-size-base * 1.25;
					line-height: @typoGrid;
				}
			}
			
			.blog-timeline-image-first {

				width: ceil(@blogPreviewImageSizeLarge / @goldenRatio);
				height: ceil(@blogPreviewImageSizeLarge / @goldenRatio);
				margin-left: (-@blogPreviewImageSizeLarge * 0.5 / @goldenRatio);
			}

			&.blog-timeline-inverted > .blog-timeline-panel {
				padding: 0;
			}
		}
	}
}

aside {
	.blog-preview {
		padding-top: 0px ! important;
		border-top: none ! important;
		.blog-preview {
			border-top: none ! important;
		}

		ul {
			margin: 17px 0 12px 0px ! important;
			&:before {
				background: none ! important;
			}

			> li {
				.custom-list-item-reset ();
				line-height: 26px;
				margin: 0px 0px 0px @bigBorder ! important;
				min-height: 0 ! important;
				.blog-panel {
					padding: 0 ! important;
				}

				.blog-image {
					display: none;
				}

				.blog-heading {
					padding: 9px 0px 15px;
					span.date {
						line-height: 16px;
						position: relative;
						top: 4px;
						overflow: hidden;
					}

					h4 {
						padding: 0;
						line-height: 26px;
						margin: 0px 0px 0px;
						font-size: @font-size-base;
					}
				}

				.blog-body {
					display: none;
				}

				&:first-child {
					min-height: 0;
					.blog-panel {
					}

					.blog-image {
						display: none;
					}
				}
			}
		}
	}

	.blog-footer {
		margin: 0 0 32px 0;
		position: relative;
		top: 5px;
		line-height: 26px;
		a {
			font-weight: 400;
		}
	}
}

.article-info-data {
	width: 100%;
	
	position: relative;
	width: 100%;
	height: @authorImageSize + @authorImageSpace + @typoGrid;
	background: @backgroundColorCanvas;
	margin: 3 * @typoGrid auto 0;
	.wrapper {
		float: left;
		width: @authorImageSize;
		height: @authorImageSize + 2 * @authorImageSpace;
		display: inline-block;
		position: absolute;
		left: ceil(-@authorImageSize * 0.75);
		top: 0;
		background: @backgroundColorCanvas;
		overflow: hidden;
	}

	.content {
		height: @authorImageSize;
		width: 100%;
		padding: ceil(@typoGrid / 4) ceil(@authorImageSize / 2) 0 ceil(@authorImageSize / 2);
		font-weight: 400;
		background: @backgroundColorCanvas;
		display: inline-block;
		float: left;
		.custom-image-shadow-additive (@shadowSizeLarge);
		text-align: left;
		border-radius: @border-radius-base 0;
		position: absolute;
		top: @authorImageSpace;
		left: ceil(@authorImageSpace / 4);
		.more , span.date {
			display: block;
			line-height: ceil(@typoGrid * 0.75);
		}

		.date , title , small {
			color: @text-muted;
			white-space: nowrap;
		}

		.custom-setSpeed (@rotationSpeedFast);
	}

	img {
		width: @authorImageSize;
		height: @authorImageSize;
		z-index: 45000;
		position: absolute;
		left: @authorImageSize / 2;
		top: @authorImageSpace;
		.custom-thumbnail-circle ();
		.custom-image-shadow-additive (@shadowSizeLarge);
		border-right-width: 0px;
		.transformElement (rotate , 0deg;
		scale , @scaleFactorOrigin);
		.custom-setSpeed (@rotationSpeedFast);
	}

	&:hover,
	&:focus	{
		.content {
			padding-left: ceil((@authorImageSize / 2) + ceil(@authorImageSize / 2 * @scaleFactorLarge));
			.custom-setSpeed (@rotationSpeedFast);
		}

		.wrapper {
			overflow: visible;
		}

		img {
			.transformElement (rotate , 360deg;
			scale , @scaleFactorLarge);
			.custom-setSpeed (@rotationSpeedFast);
		}
	}
}




@media (max-width: @screen-sm) {
	.blog-timeline:before {
		margin-left: ceil(@blogPreviewImageSizeLarge * 0.75 * 0.75 * 0.5)
	}

	.article-info-data {
		//float: left;
		width: ceil(@screen-sm / 2);
		display: block;
		left: @authorImageSize/2;
		margin :  ceil(2 * @typoGrid) auto 0;
		//margin-bottom: @typoGrid;
		.content {
			width: ceil(@screen-sm / 2 - @authorImageSize);
			border-radius: 0 ceil(@authorImageSize / 2) ceil(@authorImageSize / 2) 0;
		}
	}
	
}


div.main-content .blog-preview ul li.link-only {
	min-height: 0;
	margin: 0px;
	.blog-image {
		height: 2 * @typoGrid;
		width: 2 * @typoGrid;
		background: @grayLighter;
		margin: 0 ceil(0.5 * (((@blogPreviewImageSizeDefault - 2 * @borderthumbSize)) - (2 * @typoGrid)));
		.custom-thumbnail-circle ();
		.custom-image-shadow-additive (@shadowSizeLarge);
		font-family: FontAwesome;
		color: @grayLightest;
		font-size: @font-size-large;
		line-height: ceil(2 * @typoGrid * @scaleFactorMedium);
		text-align: center;
		padding-left: 4px;
	}
}



