.breadcrumb {
	position:relative;
	top:@typoGrid;
	padding:0 0 @typoGrid;
	margin:0px;
	background:none;
	
	li {
		.custom-list-item-reset();
		.divider {
			padding:ceil(@typoGrid/4);
			img {
				display:none;
			}
			&:after {
				font-family:FontAwesome;
				content: "\f054";
				color:@text-color;
				font-size:@font-size-small;
			}
		}
		
		span {
			color:@text-color,
		}
		&:first-child {
			display:none;
		}
	}
}