// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

.custom-button-variant (@color;
@background;
@border;
@amount: 0.4) {
	color: @color;
	background-color: @background;
	#gradient > .vertical (lighten(spin(@background, -4%), percentage(@amount));
	@background;
	25%;
	85%);
	border-color: @border;
	&:hover , &:focus , &:active , &.active , .open > .dropdown-toggle & {
		color: @button-text-color-hover;
		background-color: @background;
		#gradient > .vertical (lighten(spin(@background, -4%), percentage(@amount));
		@background;
		50%;
		100%);
		border-color: @border;
	}

	&:active , &.active , .open > .dropdown-toggle & {
		background-image: none;
	}

	&.disabled , & [disabled] , fieldset[disabled] & {
		&  , &:hover , &:focus , &:active , &.active {
			background-color: @background;
			#gradient > .vertical (lighten(spin(@background, -4%), percentage(@amount));
			@background;
			50%;
			100%);
			border-color: @border;
		}
	}

	.badge {
		color: @background;
		background-color: @color;
		#gradient > .vertical (lighten(spin(@color, -4%), percentage(@amount));
		@color;
		50%;
		100%);
	}
}

// Button sizes
.button-size (@padding-vertical;
@padding-horizontal;
@font-size;
@line-height;
@border-radius) {
	padding: @padding-vertical @padding-horizontal;
	font-size: @font-size;
	line-height: @line-height;
	border-radius: @border-radius;
}

.btn {
	.heading-font ();
	display: inline-block;
	margin-bottom: 0;
	font-weight: @btn-font-weight;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	.button-size (@padding-base-vertical;
	@padding-base-horizontal;
	@font-size-base;
	@line-height-base;
	@border-radius-buttons);
	.user-select (none);
	color: @btn-default-color;
	.custom-button-variant (@btn-default-color , @btn-default-bg , @btn-default-border , @btn-lighten-percentage);
	.custom-button-shadow ();
	&  , &:active , &.active {
		&:focus {
			.tab-focus ();
		}
	}

	&:hover , &:focus {
		color: @button-text-color-hover;
		text-decoration: none;
	}

	&:active , &.active {
		outline: 0;
		background-image: none;
		.box-shadow (inset 0 3px 5px rgba(0, 0, 0, .125));
	}

	&.disabled , & [disabled] , fieldset[disabled] & {
		cursor: not-allowed;
		pointer-events: none;
		.opacity (.65);
		.box-shadow (none);
	}
}

.btn-default {
	.custom-button-variant (@btn-default-color;
	@btn-default-bg;
	@btn-default-border;
	@btn-lighten-percentage);
}

.btn-primary {
	.custom-button-variant (@btn-primary-color;
	@btn-primary-bg;
	@btn-primary-border;
	(0.0 * @btn-lighten-percentage));
}

// Success appears as green
.btn-success {
	.custom-button-variant (@btn-success-color;
	@btn-success-bg;
	@btn-success-border;
	@btn-lighten-percentage);
}

// Info appears as blue-green
.btn-info {
	.custom-button-variant (@btn-info-color;
	@btn-info-bg;
	@btn-info-border;
	@btn-lighten-percentage);
}

// Warning appears as orange
.btn-warning {
	.custom-button-variant (@btn-warning-color;
	@btn-warning-bg;
	@btn-warning-border;
	@btn-lighten-percentage);
}

// Danger and error appear as red
.btn-danger {
	.custom-button-variant (@btn-danger-color;
	@btn-danger-bg;
	@btn-danger-border;
	@btn-lighten-percentage);
}

// Make a button look and behave like a link
.btn-link {
	color: @link-color;
	font-weight: normal;
	cursor: pointer;
	border-radius: 0;
	&  , &:active , & [disabled] , fieldset[disabled] & {
		background-color: transparent;
		.box-shadow (none);
	}

	&  , &:hover , &:focus , &:active {
		border-color: transparent;
	}

	&:hover , &:focus {
		color: @link-hover-color;
		text-decoration: underline;
		background-color: transparent;
	}

	& [disabled] , fieldset[disabled] & {
		&:hover , &:focus {
			color: @btn-link-disabled-color;
			text-decoration: none;
		}
	}
}

.btn-lg , .btn-xl {
	.button-size (@padding-large-horizontal;
	@padding-large-horizontal;
	@font-size-large;
	@line-height-large;
	@border-radius-large);
}

.btn-sm {
	.button-size (@padding-small-vertical;
	@padding-small-horizontal;
	@font-size-small;
	@line-height-small;
	@border-radius-small);
}

.btn-xs {
	.button-size (@padding-xs-vertical;
	@padding-xs-horizontal;
	@font-size-small;
	@line-height-small;
	@border-radius-small);
}

.btn-block {
	display: block;
	width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
	margin-top: 5px;
}

// Specificity overrides
input[type="submit"] , input[type="reset"] , input[type="button"] {
	&.btn-block {
		width: 100%;
	}
}

button {
	color: @btn-default-color;
}

button.btn-primary {
	color: @btn-primary-color;
}

