
// :@border-radius-modal; 
//@border-radius-modal;
//
// Carousel
// --------------------------------------------------

// Wrapper for the slide container and indicators
.carousel {
	.custom-background-carousel ();
	position: relative;
	.custom-image-shadow ();
	border-radius: @border-radius-carousel;
	.custom-thumbnail-circle ();
	border-radius: @border-radius-carousel;
	margin-bottom: (@typoGrid - 2 * @borderthumbSize);
}

.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: @border-radius-carousel / @goldenRatio;
	> .item {
		display: none;
		position: relative;
		.custom-transition (@slideSpeed);
		> img , > a > img {
			&:extend(.img-responsive); line-height: 1;
		}
	}

	> .active , > .next , > .prev {
		display: block;
	}

	> .active {
		left: 0;
	}

	> .next , > .prev {
		position: absolute;
		top: 0;
		width: 100%;
	}

	> .next {
		left: 100%;
	}

	> .prev {
		left: -100%;
	}

	> .next.left , > .prev.right {
		left: 0;
	}

	> .active.left {
		left: -100%;
	}

	> .active.right {
		left: 100%;
	}
}

// Left/right controls for nav
// ---------------------------
div.main-content , aside , .carousel-control {
	.carousel-control {
		.custom-carousel-control ();
		.custom-link-without-borders ();
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: @zindex-content+50;
		font-size: @carousel-control-font-size;
		text-align: center;
		text-shadow: @carousel-text-shadow;
		&.left {
			.custom-background-carousel-left ();
			border-radius: @border-radius-carousel 0 0 @border-radius-carousel;
		}

		&.right {
			left: auto;
			right: 0;
			.custom-background-carousel-right ();
			border-radius: 0 @border-radius-carousel @border-radius-carousel 0;
		}

		&:hover , &:focus {
			outline: 0;
			color: @carousel-control-color;
			text-decoration: none;
		}

		.icon-prev , .icon-next , .glyphicon-chevron-left , .glyphicon-chevron-right {
			.custom-link-without-borders ();
			position: absolute;
			top: 50%;
			z-index: @zindex-content+20;
			display: inline-block;
		}

		.icon-prev , .glyphicon-chevron-left {
			left: 50%;
			margin-left: -15px;
		}

		.icon-next , .glyphicon-chevron-right {
			right: 50%;
			margin-right: -15px;
		}

		.icon-prev , .icon-next {
			width: 20px;
			height: 20px;
			margin-top: -10px;
			font-family: FontAwesome;
		}

		.icon-prev {
			&:before {
				font-family: FontAwesome;
				content: '\2039';
			}
		}

		.icon-next {
			&:before {
				font-family: FontAwesome;
				content: '\203a';
			}
		}
	}
}

.carousel-indicators {
	padding: 0 ! important;
	position: absolute;
	bottom: 0px;
	left: 0%;
	z-index: @zindex-content+30;
	width: 100%;
	margin-left: 0%;
	margin-bottom: ceil(@typoGrid / 9);
	list-style: none;
	text-align: center;
	li {
		.custom-list-item-reset ();
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0px ceil(@typoGrid / 8);
		top: 0px;
		text-indent: -999px;
		.custom-indicator-shadow ();
		border: 1px solid @carousel-indicator-border-color;
		border-radius: 10px;
		cursor: pointer;
		background-color: @carousel-indicator-background-color;
		.opacity (0.5);
	}

	.active {
		margin: 0px @typoGrid / 8;
		top: 0px;
		width: 10px;
		height: 10px;
		background-color: @carousel-indicator-active-bg;
		border-color: @carousel-indicator-active-border-color;
		.opacity (1.0);
	}
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
	.custom-background-caption ();
	position: absolute;
	left: 0%;
	right: 0%;
	bottom: 0;
	z-index: @zindex-content+10;
	padding: @typoGrid / @goldenRatio @typoGrid (1.25 * @typoGrid);
	h4 , h5 , h6 {
		padding-top: 0px;
		padding-bottom: @typoGrid / 2;
	}

	h5 , h6 {
		padding-top: @typoGrid;
		padding-bottom: 0;
	}

	color: @carousel-caption-color;
	text-align: center;
	.custom-text-shadow-strong ();
	&.btn {
		text-shadow: none;
	}
}

@media screen and (min-width: @screen-sm) {
	.carousel-control {
		.glyphicon-chevron-left , .glyphicon-chevron-right , .icon-prev , .icon-next {
			width: 30px;
			height: 30px;
			margin-top: -15px;
			font-size: 30px;
			
		}

		.glyphicon-chevron-left , .icon-prev {
			margin-left: -15px;
		}

		.glyphicon-chevron-right , .icon-next {
			margin-right: -15px;
		}
	}

	.carousel-caption {
		left: 0%;
		right: 0%;
	}

	.carousel-indicators {
		bottom: @typoGrid / 6;
		padding: 0px ! important;
	}
}

div.main-content , aside {
	.carousel-wide {
		.carousel {
			.custom-background-carousel ();
			.custom-background-carousel-full ();
			
		}
		

		.carousel-control {
			.custom-carousel-control-alternative ();
			
		}

		.carousel-inner {
			> .item {
				padding: 0 0 (@typoGrid * 1.2) 0;
				.custom-transition (@slideSpeedSlower);
				> img {
					width: 48%;
					max-width: 50%;
					.custom-image-reflection ();
				}
			}
		}
		.carousel-inverted .carousel-inner {
			.custom-background-carousel-full ();
			> .item {
				padding: 0 0 (@typoGrid * 1.2) 0;
				> img {
				float:right;
				}
			}
		}

		.carousel-caption {
			top: 0;
			z-index: @zindex-content+10;
			padding: @typoGrid @typoGrid @typoGrid (@typoGrid / 2);
			left: 50%;
			color: @text-color;
			background: none;
			text-shadow: none;
			text-align: left;
			padding-left: (@typoGrid / 2);
			h4, h5, h6 {
				padding-top:0px;
			}
		}
		.carousel-inverted .carousel-caption {
			left: 0%;
			right:50%;
			padding-right: (@typoGrid / 2);
			padding-left: @typoGrid;
		}

		.carousel-indicators {
			width: 100%;
		}
	}
}

@media (min-width: @screen-sm) {
	.col-sm-4 {
		.carousel {
			.carousel-caption {
				.custom-text-onlyOneLine ();
				padding: ceil(@typoGrid / 3) @typoGrid ceil(@typoGrid + @typoGrid / 4);
			}
		}
	}
}

@media (max-width: @screen-sm) {
	.carousel-caption {
		padding-bottom: (@goldenRatio * @typoGrid);
	}
}

