



.fade {
	opacity: 0;
	.transition (opacity @panelSpeed ease-in-out);
	&.in {
		opacity: 1;
	}
}

.collapse {
	display: none;
	&.in {
		display: block;
	}

	tr &.in {
		display: table-row;
	}

	tbody &.in {
		display: table-row-group;
	}
}

.collapsing {
	position: relative;
	height: 100px;
	overflow: hidden;
	.transition (height @panelSpeed ease-in-out);
}

