
legend {
	display: block;
	width: 100%;
	padding: @typoGrid;
	margin-bottom: @line-height-computed;
	font-size: @font-size-base;
	line-height: inherit;
	color: @legend-color;
	.custom-legend ();
}

form {
	clear: both;
	.control-group , .add-on {
		display: block;
	}

	input {
		letter-spacing: 1px;
		line-height: ceil(@typoGrid);
	}

	.controls {
		margin: 13px 0 13px;
	}
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 400;
	margin-right: ceil(@typoGrid / 3);
}

.placeholder ();
.radio input[type="radio"] , .radio-inline input[type="radio"] , .checkbox input[type="checkbox"] , .checkbox-inline input[type="checkbox"] {
	margin-left: 10px;
}

@media (min-width: @screen-sm) {
	.radio input[type="radio"] , .radio-inline input[type="radio"] , .checkbox input[type="checkbox"] , .checkbox-inline input[type="checkbox"] {
		position: absolute;
		margin-left: -20px;
		margin-top: 4px \9;
	}
}

.form-inline {
	@media (min-width: @screen-sm) {
		.form-group {
			display: inline-block;
			margin-bottom: 0;
			vertical-align: middle;
		}

		.form-control {
			display: inline-block;
			width: auto;
			vertical-align: middle;
		}

		.input-group {
			display: inline-table;
			vertical-align: middle;
			.input-group-addon , .input-group-btn , .form-control {
				width: auto;
			}
		}

		.input-group > .form-control {
			width: 100%;
		}

		.control-label {
			margin-bottom: 0;
			vertical-align: bottom;
		}

		.radio , .checkbox {
			display: inline-block;
			margin-top: 0;
			margin-bottom: 0;
			vertical-align: middle;
			label {
				padding-left: 0;
			}
		}

		.radio input[type="radio"] , .checkbox input[type="checkbox"] {
			position: relative;
			margin-left: 0;
		}

		.has-feedback .form-control-feedback {
			top: 0;
		}
	}
}

textarea {
	width:100%;
}

textarea , input[type="text"] , input[type="password"] , input[type="datetime"] , input[type="datetime-local"] , input[type="date"] , input[type="month"] , input[type="time"] , input[type="week"] , input[type="number"] , input[type="email"] , input[type="url"] , input[type="search"] , input[type="tel"] , input[type="color"] , .uneditable-input {
	padding-left: ceil(@typoGrid / 3);
	padding-right: ceil(@typoGrid / 3);
	text-align: center;
}

textarea:focus , input[type="text"]:focus , input[type="password"]:focus , input[type="datetime"]:focus , input[type="datetime-local"]:focus , input[type="date"]:focus , input[type="month"]:focus , input[type="time"]:focus , input[type="week"]:focus , input[type="number"]:focus , input[type="email"]:focus , input[type="url"]:focus , input[type="search"]:focus , input[type="tel"]:focus , input[type="color"]:focus , .uneditable-input:focus {
	background-color: @white;
	text-align: center;
	border-color: @brand-primary;
	.custom-input-focus-shadow ();
	color: @link-hover-color;
	outline: 0;
	font-weight: 400;
	outline: thin inset \9;
}

input.search-query {
	margin-bottom:ceil(@typoGrid);
}