@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Bold-webfont.eot");
	src: url("../fonts/Montserrat-Bold-webfont.svg#montserratbold") format("svg"), url("../fonts/Montserrat-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold-webfont.woff") format("woff"), url("../fonts/Montserrat-Bold-webfont.ttf") format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Bold-webfont.eot");
	src: url("../fonts/Montserrat-Bold-webfont.svg#montserratbold") format("svg"), url("../fonts/Montserrat-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold-webfont.woff") format("woff"), url("../fonts/Montserrat-Bold-webfont.ttf") format("truetype");
	font-weight: 700;
}

body {
	background: @backgroundColor;
	
	color: @text-color;
	line-height: @typoGrid;
	overflow-x: hidden;
	.body-font ();
}

@media (max-width: @screen-sm) {
	body {
		overflow-x: hidden;
		min-width: @body-min;
		max-width: @screen-sm-min;
	}
	
	.canvas-content {
		min-width: @body-min;
	}
	.row {
		margin-left:0px;
		margin-right:0px;
	}
}

p {
	color: @text-color;
	line-height: @typoGrid;
	margin: 0 0 @typoGrid 0;
}

.text-muted {
	color: @text-muted;
}

.text-primary {
	color: @brand-primary;
}

p.large {
	font-size: @font-size-large;
}

a , a span {
	.custom-link ();
}

a.btn , a.btn span {
	padding: @buttonPadding @buttonPaddingLarge;
	border: none;
	//color: @button-text-color;
	&:hover {
		border: none;
		color: @button-text-color-hover;
	}
}

.tools {
	.btn , .btn-primary {
		.custom-button ();
		&:hover {
		}
	}
}

.close , .modal-link , .page-header a , .chzn-container a span , .icons a .caret {
	.custom-link-without-borders ();
	text-align: center;
	&:hover , &:focus , &:active {
		.custom-link-without-borders ();
	}

	img {
		display: inline;
		margin: @typoGrid / 2 0;
		border-radius: @border-radius-carousel;
		position: relative;
		z-index: 2000;
		.custom-img-preview ();
		border-radius: 0;
	}

	.fa {
		margin: @typoGrid / 2 0;
		position: relative;
		bottom: @typoGrid;
		text-align: center;
		.button-variant (@black;
		@brand-primary;
		@brand-primary);
		.custom-button-shadow ();
		border-radius: 25%;
		width: 2 * @typoGrid;
		height: 2 * @typoGrid;
		font-size: @font-size-largest;
		line-height: @font-size-largest * 2.1;
		.transformElement (rotate , 0deg;
		scale , @scaleFactorSmall);
	}

	&:hover .fa {
		.transformElement (rotate , 360deg;
		scale , @scaleFactorOrigin);
	}

	&:hover img {
		.custom-image-shadow ();
		z-index: 2100;
	}
}

.close {
	.custom-close-link ();
	&:after {
		top: 0px;
	}
}

@media (min-width: @screen-sm) {
	.navbar-nav a , .btn , .tools .btn {
		.transformElement (rotate , 0deg;
		scale , @scaleFactorSmall);
		.custom-setSpeed (@scaleSpeed);
		&:hover , &:focus , &:active , &.active {
			.transformElement (rotate , 0deg;
			scale , @scaleFactorOrigin);
			.custom-setSpeed (@scaleSpeed);
		}
	}
}

.img-centered {
	margin: 0 auto;
}

.header {
	.custom-header-background ();
	.custom-header-shadow ();
	text-align: center;
	position: relative;
	z-index: @zindex-header;
	.custom-header-cover ();
	padding: 2 * @typoGrid 0 @typoGrid * @goldenRatio;
	.intro {
		line-height: @typoGrid;
		h1 {
			.custom-text-header ();
			margin: @typoGrid * @goldenRatio 0 0;
			padding: @typoGrid 0 @typoGrid / 2;
		}

		h2 {
			.custom-text-header-intro ();
		}

		p {
			.custom-text-header-paragraph ();
		}
	}
}

@media (max-width: @screen-sm) {
	header {
		.intro {
			padding-left: @typoGrid;
			padding-right: @typoGrid;
		}
	}
}

section {
	margin-bottom: @bigSpacingBottom;
	h2.section-heading {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 15px;
	}

	h3.section-subheading {
		.custom-text-subheadline ();
	}
}

@media (min-width: @screen-sm) {
	section {
	}
}

aside {
	padding-top: (@typoGrid / 2 - 1);
	padding-bottom: (@typoGrid / 2 + 1);
}

footer {
	font-size: @font-size-small;
	padding: @typoGrid 0;
	text-align: center;
	span.copyright {
		line-height: 40px;
		text-transform: none;
	}

	ul.quicklinks {
		margin-bottom: 0;
		line-height: 40px;
		text-transform: none;
	}
}

.btn:focus , .btn:active , .btn.active , .btn:active:focus {
	outline: none;
}

::-moz-selection {
	text-shadow: none;
	background: @brand-primary;
}

::selection {
	text-shadow: none;
	background: @brand-primary;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

body {
	webkit-tap-highlight-color: @brand-primary;
}

.img-bordered {
	.img-bordered ();
}

a.readmore {
	position: relative;
	z-index: @zindex-content + 50;
}

.tools-container {
	span.prefix {
		display: none;
	}

	color: @text-color;
	text-align: center;
	ul {
		li {
			list-style-type: none;
		}

		> li:before {
			.custom-list-unstyled ()
		}
	}
}

.login-form .collapsing {
	.custom-transition (@slideSpeedSlower);
}

::-moz-selection {
	color: @black;
	background: @brand-primary;
}

::selection {
	color: @black;
	background: @brand-primary;
}

.header .intro {
	display: none;
}

.brand-print , .navbar-brand {
	.script-font ();
	&:before {
		font-family: FontAwesome;
		content: "\f0e7";
		color: @grayLightest;
		font-style: oblique;
		position: relative;
		bottom: 2px;
		right: 9px;
		font-size: 24px;
	}
}

.brand-print {
	color: @black;
	font-size: @font-size-large;
}

.unique-homepage .article-info-data , .unique-home .article-info-data {
	display: none;
}

.page-home {
	.tag-cloud-vertical {
		display: none;
	}

	.header {
		.intro {
			display: block;
		}

		padding: @typoGrid 0 @typoGrid;
	}

	.main-content {
		h1 , h2.subheading {
			display: none;
		}
	}
}
.main-content {
	clear:both;
}
.page-transversal , .page-LoginLogout {
	.tag-cloud-horizontal , .tag-cloud-vertical , .popular {
		display: none;
	}
}

#slide-contact textarea {
	width: 100%;
}

.contact-name {
	display: block;
}

.alert {
	border: @state-info-border 1px solid;
	.custom-button-shadow ();
	margin: @typoGrid 0;
}

.alert-message {
	background: @state-info-bg;
	color: @state-info-text;
}

.canvas-content {
	.custom-canvas ();
	position: relative;
	z-index: @zindex-content;
	top: 0;
	padding: @canvasPaddingVertical @canvasPaddingHorizonal 0;
}

#system-message-container {
	background: none;
	width: 100%;
	position: absolute;
	clear: both;
	z-index: 9999;
	#system-message {
		clear: both;
		display: block;
		margin: ceil(@container-sm / 6 * @goldenRatio) ceil(@container-sm / 6);
		position: static;
		background: @white;
		.alert {
			text-align: center;
			.close {
				position: relative;
				&:after {
					top: ceil(-0.5 * @alert-padding);
					left: -@alert-padding;
				}
			}
		}
	}
}

@minBorder: 10px;
@media (min-width: @screen-sm) {
	.canvas-content {
		padding: @canvasPaddingVerticalMiddle @canvasPaddingHorizonalMiddle 0;
	}

	#system-message-container {
		left: -ceil(0.5 * @canvasPaddingHorizonalMiddle);
		width: (@container-sm - 2 * @canvasPaddingHorizonalMiddle);
	}
}

@media (min-width: @screen-md) {
	.canvas-content {
		padding: @canvasPaddingVerticalLarge @canvasPaddingHorizonalLarge 0;
	}

	#system-message-container {
		left: 0;
		width: (@container-md);
	}
}

@media (min-width: @screen-lg) {
	.canvas-content {
		padding: @canvasPaddingVerticalLargest @canvasPaddingHorizonalLargest 0;
	}

	#system-message-container {
		left: 0;
		width: (@container-lg);
	}
}

.element {
	shape-outside: url(image.png);
	shape-image-threshold: 0.1;
	float: right;
	border-radius: 50%;
}

.portfolio {
	text-align: center;
	.portfolio-caption {
		padding: 0 @typoGrid;
		p {
			clear: both;
		}
	}
}


.footer , .custom-modal , div.main-content , aside {
	.modal-link {
		&:hover , &:focus , &:active {
		}

		img {
		}

		&:hover img {
			z-index: 2100;
		}
	}
}

.btn-audio , .btn-audio-playing {
	&:after {
		font-family: FontAwesome;
		content: "\f04b";
	}
}

.btn-audio-playing {
	&:after {
		content: "\f04c";
	}
}

.footer , .custom-modal , .main-content , aside , .tools-container , .header {
	.pager {
		li {
			.custom-list-item-reset ();
			a {
				border: none;
				border-radius: 0;
				.custom-link ();
			}
		}
	}
}

.icons .dropdown-menu {
	border-radius: 0 ! important;
	> li {
		text-align: center;
		.custom-list-item-reset ();
		> a {
			.custom-link-without-borders ();
			padding: ceil(@typoGrid / 2) ceil(@typoGrid / 4);
			&:hover {
				color: @link-hover-color;
			}
		}
	}

	padding-bottom: 0px ! important;
}

.dropdown-toggle {
	margin-right: 0px ! important;
	.caret , div b {
		border: none ! important;
		display: none;
	}

	&:after {
		.custom-dropdown-icon ();
		.transformElement (rotate , 0deg;
		scale , @scaleFactorOrigin);
		content: "\f053";
		margin: -19px 2px 0 0
	}

	&:hover {
		&:after {
			.custom-dropdown-icon ();
			.transformElement (rotate , 360deg;
			scale , @scaleFactorOrigin);
			content: "\f053";
		}
	}
}

.dropdown-toggle .open .dropdown-toggle , .chzn-width-drop a {
	.opacity (0.5);
	border-left-width: 0px ! important;
	border-radius: 0 @border-radius-base @border-radius-base 0 ! important;
	&:after {
		.transformElement (rotate , 0deg;
		scale , @scaleFactorOrigin);
		.custom-setSpeed (@rotationSpeedFast);
		content: "\f054";
	}

	&:active , &:hover {
		color: @link-hover-color;
		.opacity (1);
		&:after {
			.custom-dropdown-icon ();
			.transformElement (rotate , 360deg;
			scale , @scaleFactorOrigin);
			.custom-setSpeed (@rotationSpeedFast);
			color: @portfolioTabsCounterColorHover;
			content: "\f054";
		}
	}
}

#login {
	line-height: @navbar-height;
	padding: 0 0 0 0;
}

#loginContainer input {
	text-align: center;
}

table.table-hover {
}

.btn-toolbar {
	line-height: @typoGrid + 12;
	padding-bottom: @typoGrid - 12;
}

.badge-largest {
	font-size: @font-size-large;
	line-height: @font-size-largest;
	vertical-align: middle;
	margin: 0 ceil(@typoGrid / 4);
	min-width: @font-size-largest * 1.2;
	min-height: @font-size-largest * 1.2;
	display: inline-block;
}

.display-as-search-results {
	margin-bottom: @typoGrid;
	.result-text {
		h2.subheading,
		* {
			display:none;
			
		}
		span, p, p.intro {
			display:inline;
			color: @text-muted;
		}
	}
}

.display-as-search-results .search-query {
	margin: ceil(@typoGrid / 2) 0;
}


.display-as-search-results .item {
	display: block;
	margin: ceil(@typoGrid) 0;
}

.display-as-search-results .result-count a {
	font-size: @typoGrid * 1.2;
	height: @typoGrid * 2;
	width: @typoGrid * 2;
	text-align: center;
	border-radius: @borderRadius;
	.custom-img-preview ();
	display: inline;
	float: left;
	text-indent: -2px;
	.transformElement (rotate , 0deg;
	scale , @scaleFactorOrigin);
	margin: ceil(@typoGrid / 4) ceil(@typoGrid / 2) 0 0;
	line-height: ceil(2 * @typoGrid * @scaleFactorSmall);
	&:hover , &:focus {
		.transformElement (rotate , 360deg;
		scale , @scaleFactorOrigin);
		background: @brand-primary;
		color: @link-hover-color;
		font-weight: 700;
		border-color: @link-hover-color;
		.custom-setSpeed (@rotationSpeedFast);
	}
}

.result-title {
	.heading-font ();
	text-transform: none;
}

.result-created {
}

.result-category {
	&:after {
		content: "\A";
		white-space: pre;
	}
}

.result-text {
	position: relative;
	top: 3px;
	color: @text-muted;
	padding: 0 0 0 ceil(@typoGrid / 6);
	text-indent: ceil(@typoGrid) * 3;
}

.display-as-search-results .result-created , .search-results .date {
	display: inline-block;
	margin: 0 0 0 ceil(@typoGrid / 6);
}

img.img-thumbnail {
	.custom-image-shadow ();
}

div.tags {
	span {
	}

	a {
		.body-font ();
		text-transform: none;
		font-weight: 400;
		font-size: @font-size-small;
		.custom-badge-shadow ();
	}
}

a.jmodedit , .tooltip {
	display: none;
	.opacity (0.01);
}

.readmore {
	margin: ceil(@typoGrid / 2) 0;
}


#jcemediabox-popup-container {
	#header {
		display: none;
	}

	.container {
		width: 100%;
	}

	.canvas-content , h1 {
		padding-top: @canvasPaddingVertical;
		padding-bottom: @canvasPaddingVertical;
	}
}


.browser {
	width:100%;
	position:absolute;
	z-index:3000;
	top:0px;
	left:0;//-@typoGrid;
}
.browser-container {
	
	background:@backgroundColorCanvas;
	position:relative;
	z-index:3000;
	//float:left;
	overflow:auto;
	margin-top:@typoGrid;
	
	//width:100%;
	padding:2*@typoGrid;
	.custom-header-shadow ();
	
	
}

.main-content aside .blog-preview ul li .blog-image,
.main-content aside .blog-preview ul li:first-child .blog-image,
.main-content aside .blog-preview ul li:after{
	display:none;
}

aside {
	
	.tagspopular  {
		display:table;
	}	

	
	
}

a.external {

	
	
	&:after {
			
			font-family:fontAwesome;
			content:"\f08e";
			position:relative;
			margin:0px 4px;
			
		}
}
