//
// Jumbotron
// --------------------------------------------------


.jumbotron {
	line-height: @typoGrid;
	padding: @jumbotron-padding;
	margin-bottom: @jumbotron-padding;
	.custom-jumbotron-container ();
	p {
		text-align: center;
		margin-bottom: 0;
		font-size: @jumbotron-font-size;
		color: @jumbotron-color;
		font-weight: 400;
		line-height: @typoGrid;
	}

	> hr {
		border-top-color: none ! important;
	}

	@media screen and (min-width: @screen-sm-min) {
		padding-top: (@jumbotron-padding - 5);
		padding-bottom: (@jumbotron-padding + 5);
		.container & {
			padding-left: (@jumbotron-padding * 4 + 64);
			padding-right: (@jumbotron-padding * 4 + 64);
		}

		h1 , .h1 {
			font-size: @jumbotron-heading-font-size;
		}
	}
}

