@import "mixins/accordions.less";
@import "mixins/backgrounds.less";
@import "mixins/effects.less";
@import "mixins/images.less";
@import "mixins/shadows.less";
@import "mixins/typography.less";


.label-variant (@color) {
	background-color: @color;
	& [href] {
		&:hover , &:focus {
			background-color: lighten(@color, 10%);
		}
	}
}

.custom-list () {
}

.custom-list-item () {
	line-height: @typoGrid;
	padding: 0 0px 0 @typoGrid * 0.75;
	&:before {
		color: lighten(@text-muted, 10%);
		font-family: FontAwesome;
		content: "\f0e7";
		position: absolute;
		font-style: oblique;
		font-weight: 400;
		margin: 3px 0 0 -@typoGrid * 0.75;
	}
}

.custom-dl-style () {
	margin-top: 0;
	margin-bottom: @line-height-computed;
	dt , dd {
		line-height: @line-height-base;
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-left: 0;
	}

	dd , dt {
	}

	&.dl-horizontal {
		dd {
			&:extend(.clearfix all);
		}

		//@media (min-width: @grid-float-breakpoint) {
			dt {
				float: left;
				width: 48%;
				clear: left;
				text-align: right;
				.text-overflow ();
			}

			dd {
				margin-left: 52%;
			}
		//}
	}

	&.dl-horizontal-centered {
		dt , dd {
			margin: 0;
			padding: ceil(@typoGrid / 2);
		}

		dt {
			float: left;
			width: 50%;
			text-align: right;
		}

		dd {
			float: right;
			width: 50%;
		}
	}
}

.custom-header-icon () {
	font-family: FontAwesome;
	content: "\f077";
	font-weight: normal;
	margin-left: @typoGrid / 2;
	float: right;
	background: @portfolioTabsCounterBackgroundColor;
	color: @portfolioTabsCounterColor;
	font-size: @font-size-base + 4;
	text-align: center;
	vertical-align: middle;
	font-weight: 400;
	width: ceil(@typoGrid);
	height: ceil(@typoGrid);
	line-height: ceil(@typoGrid);
	border-radius: 50%;
	.custom-symbol-shadow ();
	.transformElement (rotate , 0deg;
	scale , @scaleFactorOrigin);
	.custom-setSpeed (@rotationSpeedFast);
}

.custom-header-icon-vertical () {
	margin: 0 0 0 @typoGrid / 2;
	width: ceil(@portfolioSectionWidth * @scaleFactorSmall);
	height: ceil(@portfolioSectionWidth * @scaleFactorSmall);
	line-height: ceil(@portfolioSectionWidth * @scaleFactorSmall);
}

.custom-list-item-reset () {
	line-height: @typoGrid;
	padding: 0 ! important;
	&:before {
		display: none;
	}
}

.custom-list-link () {
	color: @brand-primary;
	.custom-list-shadow ();
	content: "\f054";
	font-family: FontAwesome;
	position: relative;
	top: 3px;
	font-size: 18px;
	line-height: @typoGrid;
}

.custom-close-link () {
	color: @brand-primary;
	width: 1px;
	height: 1px;
	text-indent: -@typoGrid;
	position: relative;
	float: right;
	.custom-link-without-borders ();
	.opacity (0.5);
	&:hover {
		.opacity (1.0);
	}

	&:after {
		text-indent: 0px;
		font-family: FontAwesome;
		content: "\f00d";
		position: absolute;
		right: ceil(@modal-padding / 2);
		top: @modal-margin + ceil(@modal-padding / 2);
		font-size: @font-size-largest;
		width: @modal-padding;
		height: @modal-margin + ceil(@modal-padding / 2);
		.custom-controls ();
	}
}

.custom-carousel-control () {
	width: @carousel-control-width;
	.opacity (@carousel-control-opacity);
	color: @carousel-control-color;
	.custom-carousel-control-alternative
}

.custom-carousel-control-alternative () {
	width:2*@typoGrid;
	height:100%;
	
	.opacity(0.2);
	color:@white;
	&.left,
	&.right{
		&:after,
		&:before
		{
			
			font-size:	@font-size-large*@goldenRatio;
			font-family: FontAwesome;
			content: "\f0d9";
			position:absolute;
			bottom:40%;
			
			left:	ceil(@typoGrid / 2);
			float:left;
			text-align:left;
			.custom-controls ();
			width:@typoGrid;
		}
	}
	&.left:before {
		display:none;
	}
	
	
	&.right {
		&:after { 
			display:none;
		}
		&:before {
			font-family: FontAwesome;
			content: "\f0da";
			float:right;
			left:	ceil(@typoGrid / 2);
			right:0;
			text-align:right;
		}
	}
	
	&:hover {
		.opacity(1.0);
		color:@brand-primary;
	}
	
	
	
}

.custom-slidein-top () {
	#gradient > .directional (@grayDark , @navbar-default-bg , 0deg);
	border-color: @navbar-default-bg;
	border-top: @navbar-default-bg 10px solid ! important;
	border-radius: 0 0 0 2 * @border-radius-base;
	color: @text-color-inverted;
}

.custom-jumbotron-container () {
	background: none;
	border-left: none;
	border-radius: 0;
}

.custom-thumbnail-circle () {
	border: @borderPreviewColor solid @borderthumbSize;
	border-radius: @borderRadius;
	color: @white;
}

.custom-thumbnail () {
	.custom-thumbnail-circle ();
	border-radius: @borderRadius;
}

.custom-thumbnail-inner () {
	border-top: @borderPreviewLineColor @borderPreviewLineWidth solid;
	border-left: @borderPreviewLineColor @borderPreviewLineWidth solid;
	background: @white;
}

.custom-navbar-item-mobile () {
	.custom-radial-gradient (50% , 50% , circle , cover , @black , 25% , @grayDarkest , 100%);
}

.custom-navbar-item-mobile-item () {
	.custom-radial-gradient (50% , 0% , circle , cover , @grayDarker , 25% , @black , 90%);
	margin: 1px 0px;
	.custom-text-shadow-strong ();
	text-align: center;
}

.custom-legend () {
	.custom-radial-gradient (50% , 50% , circle , cover , @white , 25% , @grayLightest , 100%);
	border: @grayLightest 1px solid;
	font-size: @font-size-small;
	line-height: ceil(@typoGrid / 2)
}

.custom-button () {
	margin: @buttonPadding 0 0;
	text-decoration: none;
	border-radius: @border-radius-buttons;
	padding: ceil(@buttonPadding / 2) ceil(@buttonPadding) 0;
}

.custom-button-small () {
	.custom-button ();
	padding: @buttonPadding;
}

.custom-button-large () {
	padding: (@buttonPaddingLarge + 3) ceil(@buttonPaddingLarge * @goldenRatio * @goldenRatio) (@buttonPaddingLarge - 3);
}

.custom-button-hover () {
}

.custom-button-large-hover () {
	.custom-button-large ();
}

.custom-dropdown-icon () {
	font-family: FontAwesome;
	content: "\f077";
	font-weight: normal;
	margin: ceil(@typoGrid / 2 - 2);
	position: absolute;
	background: none;
	color: @portfolioTabsCounterColor;
	font-size: @font-size-base;
	text-align: center;
	width: ceil(@typoGrid);
	height: ceil(@typoGrid);
	line-height: ceil(@typoGrid);
	border-radius: 50%;
	.transformElement (rotate , 0deg;
	scale , @scaleFactorOrigin);
	.custom-setSpeed (@rotationSpeedFast);
}

