


.custom-modal {
	.container {
		.custom-background-modalOverlay ();
		padding-bottom: 2 * @typoGrid / @goldenRatio;
	}

	.modal-content {
		.custom-background-modalBackground ();
		h2 {
			margin: @typoGrid @typoGrid 2 * @typoGrid;
			font-size: 3em;
		}

		p {
			margin-bottom: 30px;
		}

		p.item-intro {
			.custom-text-subheadline ();
			margin: @typoGrid 0 0;
		}

		ul.list-inline {
			margin-bottom: 30px;
			margin-top: 0;
		}

		img {
			margin-bottom: 30px;
		}
	}

	.close-modal {
		position: absolute;
		width: 2 * @typoGrid;
		height: 2 * @typoGrid;
		background-color: transparent;
		top: @typoGrid / @goldenRatio;
		right: @typoGrid;
		cursor: pointer;
		.lr {
			height: 2 * @typoGrid;
			width: 1px;
			margin-left: 35px;
			background-color: @modal-controls-color;
			.rotateElement (45deg);
			z-index: 1051;
			.rl {
				height: 2 * @typoGrid;
				width: 1px;
				background-color: @modal-controls-color;
				.rotateElement (90deg);
				z-index: 3000;
			}
		}

		&:hover {
			.lr {
				width: 2px;
				.rotateElementFast (135deg);
			}

			.lr .rl {
				width: 2px;
			}
		}
	}
}

