// Custom Navigation Bar
.navbar-fixed-top {
	background-color: @black ! important;
	border: none;
	padding:  0 @navbar-padding @navbar-padding 0;
}


.navbar-default {
	.nav-child {
		display: none;
	}

	background-color: none ! important;
	border-color: transparent;
	.custom-navbar ();
	.navbar-brand {
		white-space: nowrap;
		height: @navbar-height - @navbar-padding;
		line-height: @navbar-height;
		padding: 0 0 0 @typoGrid;
		.script-font ();
		.custom-link-without-borders ();
		color: @grayDark;
		font-size: @brand-font-size;
		&:hover , &:focus , &:active , &.active {
			color: @brand-primary;
		}
	}

	.navbar-collapse {
		border-color: fade(white, 2%);
		padding: 0px;
		margin: 0px;
	}

	.navbar-toggle {
		background-color: @brand-primary;
		border-color: @brand-primary;
		min-width: 36px;
		margin:6px 0 0 8px;
		.icon-bar {
			background-color: @black;
		}
		

		padding: 5px 3px 2px;
		&:hover , &:focus {
			background-color: @brand-primary;
		}
	}

	.container {
		padding: 0px;
		.navbar-collapse {
			.navbar-nav {
				margin: 0px;
			}
		}

		.navbar-header , .navbar-collapse {
			margin: 0px;
			.custom-navbar-item-mobile-item ();
		}
	}

	.nav {
		.custom-navbar-item-mobile-item ();
		li , li.active {
			.custom-navbar-item-mobile-item ();
			a {
				background: none;
				line-height: 100%;
				text-decoration: none;
				.heading-font;
				font-size: @navbar-font-size;
				font-weight: 400;
				letter-spacing: 1px;
				color: @white;
				padding: @typoGrid;
				padding-top: @navbar-padding-vertical + 2;
				padding-bottom: @navbar-padding-vertical - 2;
				.custom-link-without-borders ();
				&:hover , &:focus {
					background: none;
					color: @brand-primary;
					outline: none;
				}
			}
		}

		.nav-item-home {
			display: none;
		}
	}
}

@media (min-width: @screen-sm) {
	.navbar-fixed-top {
		padding-bottom: 0;
	}
	.navbar-default {
		.navbar-brand {
			.transformElement (rotate , 0deg;
			scale , @scaleFactorMedium);
			.custom-setSpeed (@scaleSpeed);
			position: relative;
			top: 3px;
			font-size: @brand-font-size * @scaleFactorOrigin;
			padding: 0 0 0 @typoGrid;
			&:hover , &:focus , &:active , &.active {
				.transformElement (rotate , 0deg;
				scale , @scaleFactorOrigin);
				.custom-setSpeed (@scaleSpeed);
			}
		}

		.nav {
			background: none;
			li , li.active {
				background: none;
				padding-left: 0px;
				a {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		.container .navbar-header {
			background: none;
		}
	}
}

@media (min-width: @screen-md) {
	.navbar-default {
		.navbar-brand {
			font-size: @brand-font-size * @scaleFactorLarge;
			line-height: ceil(@navbar-height - 6);
		}

		.nav li a {
			font-size: @navbar-font-size * @scaleFactorOrigin;
		}
	}
}

@media (min-width: @screen-lg) {
	.navbar-default {
		.navbar-brand {
			font-size: @brand-font-size * @scaleFactorLarge;
		}
	}
}

@media (min-width: @screen-sm) {
	.navbar-default {
		padding: 0;
		.custom-setSpeed (@scaleSpeed);
		border: none;
		.navbar-brand {
			.custom-setSpeed (@scaleSpeed);
		}

		.navbar-nav > .active > a {
			border-radius: @border-radius-base;
		}
	}

	.navbar-default.navbar-shrink {
		padding: 2310px 0;
		.navbar-brand {
			font-size: @brand-font-size;
		}
	}
}

