
//.main-content

h2
 {
	.custom-test-typo-h2 (19px, repeat);
}

h3
 {
	.custom-test-typo-h3 (100%, repeat);
}
aside h3
 {
	.custom-test-typo-h3 (-3px, repeat);
}


h4
 {
	.custom-test-typo-h4 (100%, repeat);
	
}
h4.subheading {
	.custom-test-typo-h4 (6px, repeat);
}
h5, h6
 {
	.custom-test-typo-h5 (100%, repeat);
}
h1
//, h2, h3, h4, h5
 {
	.custom-test-typo-h1 (100%, repeat);
	
}

h2.subheading
 {
	.custom-test-typo-h2-subheading (100%, repeat);
	
	text-transform:none !important;
}

p, aside li
//, h1, h2, h3, h4, h5
 {
	.custom-test-typo (100%, repeat);
	
}

.row
//,p, blockquote, span.date
//, h1, h2, h3, h4, h5
 {
	.custom-test-typo (0%, repeat);
}
blockquote cite {
	//.custom-test-typo (-6px, repeat-x);
}

.aside .well,
.well,
blockquote  {
	background:none;
}

span.date
 {
	//.custom-test-typo (-1px, repeat-x);
}