//
// Typography
// --------------------------------------------------

h1 , .h1 , h2 , .h2 , h3 , .h3 , h4 , .h4 , h5 , .h5 , h6 , .h6 {
	.custom-text-header-general ();
	font-size: @font-size-largest;
	small , .small {
		font-size: @font-size-small;
	}
}

h1 , .h1 {
	text-align: center;
}

h2 , .h2 {
	.custom-text-h2 ();
}

h3 , .h3 {
	.custom-text-h3 ();
	line-height: @typoGrid;
}

h4 , .h4 , h5 , .h5 , h6 , .h6 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: @font-size-base;
	padding-top: @typoGrid - 6px;
	padding-bottom: @typoGrid - 20px;
	line-height: @typoGrid;
	small , .small {
		font-size: 75%;
	}
}

h4 , .h4 {
	font-size: @font-size-base + 2;
}

h5 , .h5 , h6 , .h6 {
	padding-top: @typoGrid - 6px;
	padding-bottom: @typoGrid - 20px;
	line-height: @typoGrid;
	font-size: @font-size-base;
}

h5 , .h5 {
	padding-top: @typoGrid - 6px;
	padding-bottom: @typoGrid - 20px;
	line-height: @typoGrid;
	font-size: @font-size-base;
}

.page-header {
	padding-bottom: 0px;
	margin: 0 0 0;
}

ul.gecko , ol.gecko {
	padding: 0px 0px @typoGrid 0px;
	list-style-type: none;
	li {
		.custom-list-item ();
	}

	margin-top: 0;
	margin-bottom: 0px;
	ul , ol {
		margin-bottom: 0;
	}
}

ul.audio-controls li {
	&:before {
		.custom-list-unstyled ();
	}
}

.pagination , ul.pagination-list {
	display: block;
	width: 100%;
	text-align: center;
	li {
		display: inline-block;
		.heading-font ();
		text-transform: none;
		margin: 0 ceil(@typoGrid / 3);
		vertical-align: middle;
		a , a:focus , a:hover {
			.custom-link-without-borders ();
		}
	}
}

.custom-modal {
	ul.list-inline , ol.list-inline {
		> li:before {
			.custom-list-unstyled ()
		}
	}
}

ul.latestnews , ol.latestnews , ul.blog , ol.blog {
	margin: 0px;
	> li {
		.custom-list-marked ();
		span.title {
			display: block;
		}

		span.title-shortened {
			font-size: @font-size-large;
			.custom-text-onlyOneLine ();
		}
	}

	> li:before {
		content: none;
		color: @brand-primary;
		.custom-list-shadow ();
	}
}

ul.unstyled {
	clear: both;
	padding: 5px 0 (@typoGrid - 1);
}

.links {
	ul , ol {
		padding: 0px 0px @typoGrid 0px;
		list-style-type: none;
		> li {
			line-height: 26px;
			margin: 0 0px;
			a {
			}

			&:before {
			}
		}
	}
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	.list-unstyled ();
	margin-left: -5px;
	> li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}
}

// Description Lists
dl {
	.custom-dl-style ();
}

blockquote {
	.custom-blockquote ();
	p , ul , ol {
		.custom-blockquote-paragraph-and-list ();
	}

	cite {
		.custom-blockquote-cite ();
		.date {
			display: block;
		}
	}

	footer , small , .small {
		display: block;
		font-size: 80%;
		line-height: @line-height-base;
		color: @blockquote-small-color;
		&:before {
			content: '\2014 \00A0';
		}
	}
}

.search blockquote {
	background: none;
	p {
		font-size: 2 * @blockquote-font-size;
	}
}

span.date {
	display: inline-block;
	padding: 0px 4px 0px 0px;
	line-height: @typoGrid;
	font-size: @font-size-small;
	span.day , span.month , span.year {
	}

	span.day , span.month , span.year-emphasized {
		font-weight: 700;
		color: @text-color;
	}

	span.day {
		font-weight: 400;
	}

	span.year {
	}

	span.year-emphasized {
	}
}

.aside {
	blockquote {
		.custom-blockquote-aside ();
		p {
			.custom-blockquote-paragraph-and-list-aside ();
		}

		cite {
			color: @text-color;
			top: 0;
		}
	}
}

span.date {
	color: @text-muted;
	font-size: @font-size-small;
}

.tag-cloud , aside {
	span.date {
		color: @text-muted;
	}

	.tagspopular {
		ul {
			padding-bottom: ceil(@typoGrid / 2);
			@tagScaleFactor: 0.25px;
			li {
				.custom-list-item-reset ();
				display: inline;
				padding: 0;
				a {
					color: @text-muted;
					&:hover {
						color: @link-hover-color;
					}
				}

				span.tag-count {
					text-align: center;
					margin: 0px @typoGrid / 4 0 @typoGrid / 16;
					padding: 2px 5px 1px 5px;
					.opacity (0.85);
					color: @gray;
				}

				&.tag-count {
					font-size: (@font-size-small * 9 * @tagScaleFactor);
					font-weight: 400;
				}

				&.tag-count-1 , &.tag-count-2 , &.tag-count-3 , &.tag-count-4 , &.tag-count-5 , &.tag-count-6 , &.tag-count-7 , &.tag-count-8 , &.tag-count-9 , &.tag-count-10 {
					font-weight: 400;
				}

				&.tag-count-1 , &.tag-count-2 {
					font-size: (@font-size-small * 4 * @tagScaleFactor);
				}

				&.tag-count-3 , &.tag-count-4 {
					font-size: (@font-size-small * 5 * @tagScaleFactor);
				}

				&.tag-count-5 , &.tag-count-6 {
					font-size: (@font-size-small * 6 * @tagScaleFactor);
				}

				&.tag-count-7 , &.tag-count-8 {
					font-size: (@font-size-small * 7 * @tagScaleFactor);
				}
			}
		}
	}
}

.tag-cloud-vertical {
	white-space: nowrap;
	//height: @tagCloudHeight;
	//overflow: hidden;
	//width: @container-lg;
	//left: 0;
	//width:400px;
	top: @typoGrid;
	right:ceil(-@typoGrid/4);
	// ceil(1.2 * @typoGrid);
	position: absolute;
	float: right;
	z-index: (@zindex-content + 10);
	/*
	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%;
	.transformElement (rotate , -90deg
	scale , @scaleFactorOrigin);*/
	.tagspopular {
	
		ul {
			float:right;
			margin-bottom: 0px;
			.opacity (0.5);
			.transformElement (rotate , 0deg;
					scale , @scaleFactorSmall);
					.custom-setSpeed (@scaleSpeedSlow);
			padding:@typoGrid 0 @typoGrid @typoGrid;
			
			li {
				
				clear:both;
				float:right;
				display:inline-block;
				width:	100%;
				text-align:right;
				
				
			}	
			&:hover {
				.opacity (0.9);
				padding:@typoGrid ceil(@typoGrid/2) @typoGrid @typoGrid;
				background: @backgroundColorCanvas;
				.transformElement (rotate , 0deg;
					scale , @scaleFactorOrigin);
					.custom-setSpeed (@scaleSpeedSlow);
					margin-right:ceil(@typoGrid/6 + 2);
					.custom-text-shadow-overlay ();
					
					
			}
		}
	}
}

.tagspopular {
	min-height: 0;
	ul {
		padding-left: 0px;
		li {
			display: inline-block;
			text-align: left;
			float: left;
			margin: 0 ceil (@typoGrid / 4) 0 0;
			a {
				.custom-link ();
			}
		}
	}
}

.tagspopular-horizontal {
	ul li {
		display: inline;
		padding-left: 0px ! important;
		padding-right: ceil(@typoGrid / 2) ! important;
		&:before {
			content: "" ! important;
		}
	}
}


.login-status {
	height: @tagCloudHeight;
	//left: -(@tagCloudHeight + -@typoGrid / 2);
	right: ceil(@typoGrid / 2);
	top: 0;
	position: absolute;
	overflow: hidden;
	float: right;
	.wrapper {
		text-align: right;
		width: 200px;
		float: right;
		height: @tagCloudHeight;
	}

	.btn {
		display: none;
	}
}

@media (max-width: @screen-sm) {
	.login-status {
		left:	0px;
		width:	100%;
		.wrapper {
			width: @container-sm * 0.25;
		}
	}
	

	.tag-cloud-vertical {
		display:none;
		width: 100%;
		position: relative;
		margin-bottom: @typoGrid;
		height:auto;
		overflow:visible;
		top: -@typoGrid;
		.tag-cloud .tagspopular ul {
			.opacity (1);
			li {
				display: inline;
				width: auto;
			}
		}
	}

	.tag-cloud {
		position: absolute;
		width: auto;
		height: @typoGrid * 4;
		right: 0;
		.transformElement (rotate , 0deg;
		scale , @scaleFactorOrigin);
		.tagspopular {
			ul {
				li {
					display: block;
					float: right;
					width: 100%;
				}
			}
		}
	}
}

@media (min-width: @screen-sm) {
	/*.tag-cloud-vertical {
		//width:@container-lg;
		//left: @container-sm - ceil(@typoGrid / 4);
		//.transformElement (rotate , 0deg;
		//scale , @scaleFactorOrigin);
	}*/
}

@media (min-width: @screen-md) {
	/*.tag-cloud-vertical {
		width: @container-lg;
		left: @container-md - ceil(@typoGrid / 4);
		.transformElement (rotate , 90deg;
		scale , @scaleFactorOrigin);
	}*/
}

@media (min-width: @screen-lg) {
	/*.tag-cloud-vertical {
		width: @container-lg;
		left: @container-lg - ceil(@typoGrid / 4);
		.transformElement (rotate , 90deg;
		scale , @scaleFactorOrigin);
	}*/
}

.badge {
	background: @brand-primary ! important;
	color: @text-color ! important;
	.custom-badge-shadow ();
	vertical-align: middle;
}

.tags span a {
	margin-right: ceil(@typoGrid / 4);
	.custom-link-without-borders ()
}




@media (max-width: @screen-sm) {
	h1 , h2 , h3 , h4 , h5 , h6 , .h1 , .h2 , .h3 , .h4 , .h5 , .h6 {
		display: block;
		width: 100%;
		float: left;
	}
	.xs-text-center {
		text-align:center;
	}
}



.articleBody {
	img.img-intro {
		.custom-img-intro ();
		display: none;
	}

	img.img-intro {
		display: inline-block;
	}
	p.intro {
		
		display: none;
		
		
	}
	
	.row-intro {
		display: none;
		p.intro {
			display: block;
			
			font-size: ceil(@font-size-base * 1.25);
			color: @grayLight;
			line-height:ceil(@typoGrid * 1.25);
			&::first-letter {
				font-size: ceil(@font-size-large);
				color: @text-color;
			}
			padding-bottom:ceil(@typoGrid * 3);
		}
	}

}
.item-page-all h1 {
	display:none;
}
.articleBody h1 {
	display: block;
}
.articleBody-blog {
	h1 , h2 {
		display: none;
	}
	
	.row-intro {
		display: block;
	}
}
.address,
.phone {
	white-space:nowrap;
	white-space:nowrap;
}


