@import "../variables.less";

@screen-sm:                  768px;
@body-min:              320px;

@grid-gutter-width: 26px;

@black: #000;
@white: #FFF;
@brand-primary: #FEE900;

@backgroundColor: @grayLightest;
@backgroundColorCanvas: @white;
@label-info-bg: @brand-primary;
@brand-danger: #e74c3c;
@gray-darkest: #111;
@grayDarkest: @gray-darkest;
@gray-darker: #222;
@grayDarker: @gray-darker;
@gray-dark: #444;
@grayDark: @gray-dark;
@gray: #666;
@gray-light: #999;
@grayLight: @gray-light;
@gray-lighter: #CCC;
@grayLighter: @gray-lighter;
@gray-lightest: #EEE;
@grayLightest: @gray-lightest;
@white: #FFF;
@blue: #06C;
@red: #C00;
@green: #9EA;
@yellow: #FD0;
@text-color: @gray;
@text-muted: @grayLight;
@legend-color: @text-muted;
@buttonPadding: ceil(@typoGrid / 3);
@buttonPaddingLarge: ceil(@typoGrid);
@btn-default-color: @button-text-color;
@btn-default-bg: @grayLightest;
@btn-default-border: @button-text-color;
@btn-primary-color: @grayDark;
@btn-primary-bg: spin(@brand-primary, 4%);
@btn-primary-border: @brand-primary;
@btn-lighten-percentage: 0.2;
@headings-color: @text-color;
@text-color-inverted: @grayLighter;
@text-color-inverted-hover: @white;
@modal-background: @black;
@modal-content-background: @white;
@modal-margin: 2 * @typoGrid;
@modal-padding: @typoGrid;
@modal-controls-color: @brand-primary;
@modal-controls-color-hover: @brand-primary;
@typoGrid: @grid-gutter-width;
@goldenRatio: 1.618;
@line-height-base: @typoGrid;
@line-height-computed: @line-height-base;
@font-size-base: 16px;
@font-size-large: ceil((@font-size-base * @goldenRatio));
@font-size-largest: ceil((@font-size-base * @goldenRatio * @goldenRatio));
@font-size-small: ceil(@font-size-base * 0.75);
@font-size-toggle: @font-size-base;
@blockquote-font-size: ceil(@font-size-base);
@navbar-font-size: @font-size-large;
@brand-font-size: @font-size-base * 1.25;
@navbar-default-bg: @grayDarkest;
@navbar-padding:	9px;
@bigSpacingTop: ceil(@typoGrid * 2.8);
@bigSpacingBottom: @typoGrid;
@bigBorder: 3px;
@blockquote-border-color: @brand-primary;
@page-header-border-color: @gray-lighter;
@well-bg: @grayLightest;
@well-border: @grayLightest;
@link-color: @text-color;
@link-hover-color: @black;
@label-color: @text-color;
@label-link-hover-color: @link-hover-color;
@button-text-color: @grayDarker;
@button-text-color-hover: @link-hover-color;
@paddingNavbar: 12px;
@border-radius-base: 4px;
@border-radius-modal: 8px;
@border-radius-base: 5px;
@border-radius-buttons: 6px;
@border-radius-large: 12px;
@border-radius-small: 58px;
@border-radius-labels: @border-radius-large;
@badge-border-radius: 50%;
@border-radius-carousel: @border-radius-modal;
@navbar-height: @typoGrid * 2;
@zindex-content: 1000;
@zindex-navbar: 2000;
@zindex-navbar-fixed: 2000;
@zindex-dropdown: 3000;
@zindex-header: @zindex-content + 100;
@zindex-popover: 1050;
@zindex-tooltip: 1060;
@zindex-modal-background: 3040;
@zindex-modal: 3050;
@scaleFactorSmall: 0.84;
@scaleFactorMedium: 0.92;
@scaleFactorOrigin: 1.0;
@scaleFactorLarge: 1.2;
@scaleFactorLarger: 1.5;
@scaleFactorLargest: 2.0;
@speed: 0.25s;
@scaleSpeed: 0.5s;
@scaleSpeedSlow: 0.75s;
@scaleSpeedFast: 0.0s;
@rotationSpeed: 1.0s;
@rotationSpeedFast: 0.5s;
@slideSpeed: 0.8s;
@slideSpeedSlower: 1.2s;
@opacitySpeed: 0.8s;
@panelSpeed: 1.2s;
@shadowH: 4px;
@shadowV: 4px;
@shadowSize: 5px;
@shadowSizeLarge: 12px;
@shadowColor: @black;
@input-border: @grayLight;
@input-border-focus: @grayDarker;
@input-color-placeholder: @grayLight;
@state-success-bg: lighten(spin(@brand-primary, 45), 33%);
@state-success-text: darken(@state-success-bg, 50%);
@state-success-border: darken(spin(@state-success-bg, -10), 5%);
@state-info-bg: saturate(lighten(spin(@yellow, 12), 42%), 35%);
@state-info-text: @grayDarker;
@state-info-border: darken(spin(@state-info-bg, -10), 50%);
@state-warning-text: #8a6d3b;
@state-warning-bg: #fcf8e3;
@state-warning-border: darken(spin(@state-warning-bg, -10), 5%);
@close-color: @grayDark;
@alert-padding: @typoGrid;
@state-danger-text: #a94442;
@state-danger-bg: #f2dede;
@state-danger-border: darken(spin(@state-danger-bg, -10), 5%);
@image-preview-padding: 1px;
@image-preview-border-color: @grayLight;
@authorImageSize: @typoGrid * 3;
@authorImageSpace: 10px;
@blogPreviewImageBackground: @grayLighter;
@blogPreviewImageSizeLarge: (@typoGrid * 6 - 6);
@blogPreviewImageSizeDefault: (@typoGrid * 4 - 6);
@blogPreviewImageSizeRatio: 1.0;
@differencePositioning: ((@blogPreviewImageSizeLarge * @blogPreviewImageSizeRatio) - @blogPreviewImageSizeDefault) / (2 * @blogPreviewImageSizeRatio);
@borderPreviewColor: @white;
@borderPreviewColorEmphasize: @white;
@borderPreviewColorEmphasizeHover: @white;
@borderPreviewBackgroundColor: @brand-primary;
@borderthumbSize: 3px;
@borderPreviewLineColor: @grayLighter;
@borderPreviewLineWidth: 1px;
@borderRadius: 50%;
@pager-bg: @white;
@pager-border: @white;
@pager-hover-bg: @white;
@pager-border-radius: @typoGrid;
@carousel-text-shadow: none;
@carousel-control-color: @brand-primary;
@carousel-control-width: @typoGrid;
@carousel-control-opacity: .95;
@carousel-control-font-size: 30px;
@carousel-indicator-border-color: @grayDark;
@carousel-indicator-background-color: @grayLighter;
@carousel-indicator-active-bg: @brand-primary;
@carousel-indicator-active-border-color: @gray;
@carousel-caption-color: @grayLighter;
@jumbotron-padding: @typoGrid;
@jumbotron-heading-color: @headings-color;
@jumbotron-color: @grayLight;
@jumbotron-font-size: ceil(@font-size-base * (1.0 + ((@goldenRatio - 1.0) / 2)));
@jumbotron-heading-font-size: @font-size-largest;
@canvasPaddingVertical: @typoGrid;
@canvasPaddingHorizonal: ceil(@typoGrid / 4);
@canvasPaddingVerticalMiddle: @canvasPaddingVertical;
@canvasPaddingHorizonalMiddle: @typoGrid * 2;
@canvasPaddingVerticalLarge: @canvasPaddingVertical;
@canvasPaddingHorizonalLarge: 2 * @typoGrid;
@canvasPaddingVerticalLargest: @canvasPaddingVertical;
@canvasPaddingHorizonalLargest: 6 * @typoGrid;
@portfolioAccordionWidth: 830px;
@portfolioSectionWidth: ceil(@typoGrid * 2);
@portfolioSectionHeight: 15 * @typoGrid;
@portfolioSectionPadding: ceil(@typoGrid * 3);
@portfolioContentPadding: ceil(@typoGrid * 2);
@portfolioBorderWidth: 1px;
@portfolioBorderColor: @grayLighter;
@portfolioTabsSpacing: 1px;
@portfolioTabsBackgroundColor: @grayLightest;
@portfolioTabsCounterBackgroundColor: @white;
@portfolioTabsCounterColor: @text-color;
@portfolioTabsCounterBackgroundColorHover: @brand-primary;
@portfolioTabsCounterColorHover: @black;
@portfolioTabsCounterBackgroundColorActive: @black;
@portfolioTabsCounterColorActive: @brand-primary;
@portfolioTabBackgroundColor: @grayLightest;
@portfolioTabBackgroundColorActive: @white;
@portfolioTabsTextColor: @headings-color;
@portfolioTabsTextColorHover: @black;
@tagCloudHeight: 2 * @typoGrid;
