


//
// Wells
// --------------------------------------------------


// Base class
.well {
	min-height: 3 * @typoGrid;
	padding: (@typoGrid - 2px) @typoGrid 0;
	margin-bottom: @typoGrid + 24;
	background-color: @well-bg;
	.custom-well-background ();
	border: 1px solid @well-border;
	border-radius: @border-radius-base;
	.custom-well-shadow;
	img {
	}

	.img-bordered {
		.img-bordered-repositioned ();
	}

	blockquote {
		border-color: #ddd;
		border-color: rgba(0, 0, 0, .15);
	}

	h1 , .h1 , h2 , .h2 , h3 , .h3 {
		line-height: @typoGrid;
		padding-top: @typoGrid / 2;
		padding-bottom: @typoGrid / 2;
	}
}

aside {
	.well {
		.custom-background-light ();
		margin-bottom: 2 * @typoGrid;
		padding: ceil(@typoGrid / 2) ceil(@typoGrid / 2) (@typoGrid / 2 - 2);
		background-color: @well-bg;
		background-color: none ! important;
		.custom-background-light;
		.img-bordered {
			.img-bordered ();
		}
	}
}

// Sizes
.well-lg {
	padding: 24px;
	border-radius: @border-radius-large;
}

.well-sm {
	padding: 9px;
	border-radius: @border-radius-small;
}

